<%= render :template => "admin/header", :locals => {:titulo => "Dicas", :sub_titulo => "Editar"} %>

<%= form_for @dica, url: { action: "update" } , html: {:multipart => true} do |f| %>
	<%= f.hidden_field :_id %>
	<div class="form-group">
		<%= f.label :dica %>
		<%= f.text_area :dica, size: 80, maxlength: 200,required: true, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "Dentista" %>
	
		<% @dentistas =Dentist.where(:active => true, :dt_expiration_date.gte => Date.today()).order_by(:nome.asc) %>
		<%= select_tag "dica[dentista_id]", options_from_collection_for_select(@dentistas, "id", "nome", @dica.dentista_id), include_blank: true,  class: 'form-control form-control-no-width'%>
	</div>
	<div class="form-group">
		<%= f.submit "Salvar" %>
	</div>

<% end %>
