<%= render :template => "admin/header", :locals => {:titulo => "Dicas", :sub_titulo => "Lista"} %>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Dica</th>
			<th>Dentista</th>
			<th colspan="3">Ação</th>
		</tr>
	</thead>
	<tbody>
		<% @dicas.each do |dica| %>
		<tr>
			<td><%= dica._id %></td>
			<td><%= dica.dica %></td>
			<td><%= dica.dentista.nil? ? "" : dica.dentista.nome %></td>
			<td><%= link_to 'Visualizar', admin_dica_show_path(dica) %></td>
			<td><%= link_to 'Editar', admin_dica_edit_path(dica) %></td>
			<td><%= link_to 'Apagar', admin_dica_delete_path(dica), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
