<%= render :template => "admin/header", :locals => {:titulo => "Dicas", :sub_titulo => "Visualizar"} %>

<div class="form-group">
	<label>Id: </label>
	<%= @dica._id%>
</div>

<div class="form-group">
	<label>Dica: </label>
	<%= @dica.dica%>
</div>

<div class="form-group">
	<label>Dentista: </label>
	<%= @dica.dentista.nil? ? " - " : @dica.dentista.nome%>
</div>