<%= render :template => "admin/header", :locals => {:titulo => "Dentistas", :sub_titulo => "Editar"} %>

<%= form_for @dentista, url: { action: "update" } , html: {:multipart => true} do |f| %>
	<%= f.hidden_field :_id %>

	<div class="col-lg-12">
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Dados</h3>
            </div>
            <div class="panel-body">
            	
				<div class="form-group">
					<%= f.label :nome %>
					<%= f.text_field :nome, size: 80,required: true, class: "form-control" %>
				</div>
				<div class="form-group">
					<div class="col-lg-6">
						<%= f.label "Ativo: "%>
						<%= select_tag("dentist[active]", options_for_select([['Sim', "1"], ['Não', "0"]], (@dentista.active ? "1" : "0")), { :class => 'form-control form-control-no-width' }) %>
					</div>
					<div class="col-lg-6">
						<%= f.label "Vencimento da Assinatura: "%>
						<%= f.text_field :dt_expiration_date, size: 15,required: true, class: "form-control", "data-inputmask" => "'alias': 'date'", value: @dentista.dt_expiration_date_format %>
					</div>
				</div>
				<div class="form-group col-lg-12"><hr></div>
				<div class="form-group col-lg-12">
					<%= f.label "Ícone:" %>
					<div class="col-lg-12">&nbsp;</div>
					<%= f.hidden_field :icon, id: "dentist_icon", value: @dentista.icon %>
					<%=image_tag("img_list_sponsor_tip1.png", style: "max-height: 100px; padding:10px", id: "icone-1", onclick: "javascript:icone_click(1)")%>
					<%=image_tag("img_list_sponsor_tip2.png", style: "max-height: 100px; padding:10px", id: "icone-2", onclick: "javascript:icone_click(2)")%>
					<%=image_tag("img_list_sponsor_tip3.png", style: "max-height: 100px; padding:10px", id: "icone-3", onclick: "javascript:icone_click(3)")%>
					<%=image_tag("img_list_sponsor_tip4.png", style: "max-height: 100px; padding:10px", id: "icone-4", onclick: "javascript:icone_click(4)")%>
					<%=image_tag("img_list_sponsor_tip5.png", style: "max-height: 100px; padding:10px", id: "icone-5", onclick: "javascript:icone_click(5)")%>
					<%=image_tag("img_list_sponsor_tip6.png", style: "max-height: 100px; padding:10px", id: "icone-6", onclick: "javascript:icone_click(6)")%>
					<%=image_tag("img_list_sponsor_tip7.png", style: "max-height: 100px; padding:10px", id: "icone-7", onclick: "javascript:icone_click(7)")%>
					<%=image_tag("img_list_sponsor_tip8.png", style: "max-height: 100px; padding:10px", id: "icone-8", onclick: "javascript:icone_click(8)")%>
					<%=image_tag("img_list_sponsor_tip9.png", style: "max-height: 100px; padding:10px", id: "icone-9", onclick: "javascript:icone_click(9)")%>
				</div>
				
				<div class="form-group">
						<%= f.label "Telefone: "%>
						<% @phone = (not @dentista.phones.nil? and @dentista.phones.size > 0) ? @dentista.phones[0] : ""%>
						<%= f.text_field :phones, size: 20, name: "dentist[phones][]", class: "form-control", value: @phone, :"data-mask" => "999-999-9999"%>
				</div>
				<div class="form-group">
					<%= f.label :site %>
					<%= f.text_field :site, size: 80, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email, required: true, size: 80, class: "form-control" %>
				</div>
				
				<div class="form-group">
					<div class="col-lg-3">
						<%= f.label "Destaque: "%>
					</div>
					<div class="col-lg-9">
						<%= select_tag("dentist[destaque]", options_for_select([['Sim', 2], ['Não', 1]], @dentista.destaque), { :class => 'form-control form-control-no-width' }) %>
					</div>
				</div>
				<div class="col-lg-12"><hr></div>
				<div class="form-group">
					<div class="col-lg-6">
					<%= f.label "Foto do profile" %>
			<%
					if not @dentista.profile.nil? then%>
						<%=image_tag(@dentista.profile, style: "max-height: 200px;")%>
			<%
					end
					%>
					</div>
					<div class="col-lg-6">
						<%= f.label "Trocar imagem" %>
						<%= file_field 'dentist', 'profile'%>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Serviços</h3>
            </div>
            <div class="panel-body">
            	
				<div class="form-group">
					<div class='col-lg-12-without-padding'>
				<%
				 		total_cat = MainYetting.SERVICOS.size
				      	num_p_col = total_cat / 3
				     	num = 0
				      	col = 1
				%>
					</div>
					<div class='col-lg-4'>
						<%
						MainYetting.SERVICOS.sort.each do |item| %>
				<%
						if num % num_p_col == 0 and num != 0 and col != 3 then
							col += 1
				%>
							</div>
							<div class='col-lg-4'>
				<%
						end
						num += 1
						ck_active = false
						if not @dentista.servicos.nil? then
							ck_active = @dentista.servicos.include?(item)
						end
				%>
						<div class="checkbox">
							<label> <%= check_box_tag "dentist[servicos][]", item, ck_active %><%= item %> </label>
						</div>
				
						<% end %>
					</div>
					
				</div>

			</div>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Equipe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_equipe()">Adicionar</button></h3>
            </div>
            <div class="panel-body">
            	
				<div class="form-group" id="div_equipe">
			<%
						@item_input_equipe = f.text_field :equipe, name: 'dentist[equipe][]', class: "form-control", value: ""
			
						if not @dentista.equipe.nil? and @dentista.equipe.size > 0 then
							@dentista.equipe.each do |eq|
								@id_eq = "equipe_#{Random.new.rand(100...1000000)}"
								%>
								<span id='<%=@id_eq%>' class="class_equipe">
									<div class="col-lg-12">&nbsp;</div>
								
									<div class="col-lg-6">
										<%=f.text_field :equipe, name: 'dentist[equipe][]', class: "form-control", value: eq%>
									</div>
									<div class="col-lg-2">
										<button class="btn btn-xs btn-danger" type="button" onclick="excluir_item('<%=@id_eq%>')">-</button>
									</div>
									<div class="col-lg-4">&nbsp;</div>
								</span>
						
			<%
							end
						end
			%>
						
			
				</div>
			</div>
		</div>
	</div>

		
	<div class="col-lg-12">
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Atendimento</h3>
            </div>
            <div class="panel-body">
            	
				<div class="form-group" id="div_atendimento">
						<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_horario_normal()">Adicionar Horário</button>
			<%
						dias_semana_array = MainYetting.DIAS_SEMANA.map { |t| [t["desc"], t["id"]] }
						
						f.fields_for @dentista.at_normal do |at|
							@item_horario_dia_sem = at.select(:dia_sem, options_for_select(dias_semana_array, ""), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_normal][][dia_sem]' })
							@item_horario_open = at.text_field :h_open, name: 'dentist[at_normal][][h_open]', class: "form-control horario-input", value: ""
							@item_horario_close = at.text_field :h_close, name: 'dentist[at_normal][][h_close]', class: "form-control horario-input", value: ""
						end
						
						if not @dentista.at_normal.nil? and @dentista.at_normal.size > 0 then
							@dentista.at_normal.each do |horario|
								@id_atend = "at_normal_#{Random.new.rand(100...1000000)}"
								%>
								
								<%= f.fields_for @dentista.at_normal do |at| %>
									<span id='<%=@id_atend%>'>
										<div class="col-lg-12">&nbsp;</div>
									
										<div class="col-lg-4">
											<label>Dia:</label>
											<%= at.select(:dia_sem, options_for_select(dias_semana_array, horario.dia_sem), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_normal][][dia_sem]' }) %>
										</div>
										<div class="col-lg-3">
											<label>Abre:</label>
											<%=at.text_field :h_open, name: 'dentist[at_normal][][h_open]', class: "form-control horario-input", value: horario.h_open%>
										</div>
										<div class="col-lg-3">
											<label>Fecha:</label>
											<%=at.text_field :h_close, name: 'dentist[at_normal][][h_close]', class: "form-control horario-input", value: horario.h_close%>
										</div>
										<div class="col-lg-2">
											<br>
											<button class="btn btn-xs btn-danger" type="button" onclick="excluir_item('<%=@id_atend%>')">-</button>
										</div>
									</span>
								<% end 
							end
						end%>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Atendimento de emergência</h3>
            </div>
            <div class="panel-body">
            	
				<div class="form-group" id="div_atendimento_emerg">
					<div class="col-lg-5">
						<%= f.label "Possui atendimento de emergência "%>
					</div>
					<div class="col-lg-7">
			<%
						@value_at_emerg = 1
						if @dentista.at_emerg.nil? or @dentista.at_emerg.size <= 0 then
							@value_at_emerg = 0
						else
							if @dentista.at_emerg.size == 1 and (@dentista.at_emerg[0].h_open.nil? or @dentista.at_emerg[0].h_open.empty?) then
								@value_at_emerg = 0
							end
						end
			%>
						<%= select_tag("dentist[has_at_emerg]", options_for_select([['Sim', 1], ['Não', 0]], @value_at_emerg), { :class => 'form-control form-control-no-width', :onchange => "javascript:select_at_emerg()", :id => "id_has_at_emerg" }) %>
					</div>
					
					<div id="div_at_emergencia_interno">
						<div class="col-lg-12">
							<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_horario_emerg()">Adicionar horário</button>
						</div>
						
			<%
						dias_semana_array = MainYetting.DIAS_SEMANA.map { |t| [t["desc"], t["id"]] }
						
						f.fields_for @dentista.at_emerg do |at|
							@item_horario_emerg_dia_sem = at.select(:dia_sem, options_for_select(dias_semana_array, ""), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_emerg][][dia_sem]' })
							@item_horario_emerg_open = at.text_field :h_open, name: 'dentist[at_emerg][][h_open]', class: "form-control horario-input", value: ""
							@item_horario_emerg_close = at.text_field :h_close, name: 'dentist[at_emerg][][h_close]', class: "form-control horario-input", value: ""
						end
						
						if not @dentista.at_emerg.nil? and @dentista.at_emerg.size > 0 then
							@dentista.at_emerg.each do |horario|
								@id_atend = "at_emerg_#{Random.new.rand(100...1000000)}"
								%>
								
								<%= f.fields_for @dentista.at_emerg do |at| %>
									<span id='<%=@id_atend%>'>
										<div class="col-lg-12">&nbsp;</div>
									
										<div class="col-lg-4">
											<label>Dia:</label>
											<%= at.select(:dia_sem, options_for_select(dias_semana_array, horario.dia_sem), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_emerg][][dia_sem]' }) %>
										</div>
										<div class="col-lg-3">
											<label>Abre:</label>
											<%=at.text_field :h_open, name: 'dentist[at_emerg][][h_open]', class: "form-control horario-input", value: horario.h_open%>
										</div>
										<div class="col-lg-3">
											<label>Fecha:</label>
											<%=at.text_field :h_close, name: 'dentist[at_emerg][][h_close]', class: "form-control horario-input", value: horario.h_close%>
										</div>
										<div class="col-lg-2">
											<br>
											<button class="btn btn-xs btn-danger" type="button" onclick="excluir_item('<%=@id_atend%>')">-</button>
										</div>
									</span>
								<% end 
							end
						end%>
					</div>
				</div>
			</div>
		</div>
	</div>
	                
	<div class="col-lg-12">
		
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Endereço</h3>
            </div>
            <div class="panel-body">
				<%= f.fields_for @dentista.address do |a| %>
	         
			         <div class="col-lg-6">
			         	<%= f.label "Rua: " %>
			         	<%= a.text_field :street, required: true, size: 40, class: "form-control form-control-no-width"  %>
			         </div>
			         <div class="col-lg-3">
			         	<%= f.label "Nr: " %>
			         	<%= a.text_field :number, required: true, size: 6, class: "form-control form-control-no-width"  %>
			         </div>
			         <div class="col-lg-3"> 
			         	 <%= f.label "Comp: " %> <%= a.text_field :complement, size: 10, class: "form-control form-control-no-width" %>
			 		 </div>
			 		 <div class="col-lg-12">&nbsp;</div>
			         <div class="col-lg-6"><%= f.label "Bairro:" %>
			         	<%= a.text_field :neighborhood, required: true, class: "form-control form-control-no-width"  %></div>
			         <div class="col-lg-6"><%= f.label "CEP:" %>
			         	<%= a.text_field :zip_code, required: true, class: "form-control form-control-no-width"  %></div>
			         	<div class="col-lg-12">&nbsp;</div>
			         <div class="col-lg-6"><%= f.label "Estado:" %>
			         	
			         	<% estado_array = MainYetting.ESTADOS { |fx| [fx] } %>
						<%= a.select(:state, options_for_select(estado_array, @dentista.address.state.nil? ? "São Paulo" : @dentista.address.state), { :include_blank=>false, :required => true }, { class: "form-control form-control-no-width"}) %>
				
			         </div>
			         <div class="col-lg-6"><%= f.label "Cidade:" %>
			         	<%= a.text_field :city, required: true, class: "form-control form-control-no-width"  %>
			         </div>
				<% end %>
			</div>
    	</div>
    </div>
    
	<div class="col-lg-12">
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Promoção</h3>
            </div>
            <div class="panel-body">
            	
				<div class="form-group">
					<div class="col-lg-4">
						<%= f.label "Dentista com Promoção" %>
					</div>
					<div class="col-lg-8">
						<%
						@value_promo = (@dentista.promocao.nil? or @dentista.promocao.perc.nil?) ? 0 : 1;
						%>
						<%= select_tag("dentist[has_promo]", options_for_select([['Sim', 1], ['Não', 0]], @value_promo), { :class => 'form-control form-control-no-width', :onchange => "javascript:select_promocao()", :id => "id_has_promo" }) %>
					</div>
				</div>
				<div class="col-lg-12">&nbsp;</div>
				<span id="div_input_promocao">
					<%= f.fields_for @dentista.promocao do |prom| %>
				         <div class="col-lg-6"><%= prom.label "Percentual" %><%= prom.number_field "perc", :min =>1, :max => 99, :maxlength => 2, :size => 3, :class => 'form-control form-control-no-width'  %></div>
				         <div class="col-lg-6"><%= prom.label :servico %>
				         	<% fx_servico_array = MainYetting.SERVICOS { |fx| [fx] } %>
							<%= prom.select(:servico, options_for_select(fx_servico_array, prom.object), { :include_blank=>false }, { :class => 'form-control form-control-no-width' }) %>
				         </div>
				
					<% end %>
				</span>
			</div>
		</div>
	</div>
	<div class="col-lg-12"><hr></div>
	
	<div class="col-lg-12">
		
		<div class="panel panel-default">
       		<div class="panel-heading">
            	<h3 class="panel-title">Fotos <button type="button" class="btn btn-xs btn-primary" onclick="javascript:insert_foto()">+</button></h3>
            </div>
            <div class="panel-body">
            	<div class="col-lg-12" id="div_foto"></div>
            	<div class="col-lg-12"><hr></div>
				<div class="col-lg-12">
					<label>Fotos atuais: </label>
				</div>
				<span id="fotos_atuais">
			<%
					@item_foto  = file_field_tag "images[]", type: :file, multiple: true
					if not @dentista.pictures.nil? then
						@dentista.pictures.each do |f| %>
							<div style="float: left" class="text-center"><%=image_tag(f.picture, style: "max-height: 200px;")%>
								<br>
								<%= link_to 'Apagar', admin_dentista_delete_foto_path(@dentista._id, f._id), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %>
							</div>
			<%
						end
					end
					%>
				</span>
			</div>
		</div>
	</div>
	
<div class="col-lg-12"><hr></div>
	<div class='col-lg-12-without-padding text-center'>
		<%= f.submit "Salvar", class: "btn btn-lg btn-primary"%>
	</div>

<% end %>

<script>
	$(document).ready(function(){
	    $(":input").inputmask();
	    $('#dentist_phones').inputmask({mask: '(99)9{4,5}-9999'})
	    $('.horario-input').inputmask({mask: '99:99'})
	    $('#dentist_address_zip_code').inputmask({mask: '99999-999'})
	    $('#dentist_promocao_perc').inputmask({mask: '99'})
	    
	    $("#dentist_dt_expiration_date").inputmask("d/m/y",{ "placeholder": "dd/mm/yyyy" });
	    
	});
	
	function excluir_foto(dentista_id, foto) {
		alert(dentista_id + " - "+ foto);
	}
	
	function select_promocao(val) {
		if (val == undefined) {
			val = $( "#id_has_promo" ).val();
		} else {
			$( "#id_has_promo" ).val(val)
		}
		if (val == 0) {
			$( "#div_input_promocao" ).hide();
		} else {
			$( "#div_input_promocao" ).show();
		}
	}
	
	function select_at_emerg(val) {
		if (val == undefined) {
			val = $( "#id_has_at_emerg" ).val();
		} else {
			$( "#id_has_at_emerg" ).val(val)
		}
		if (val == 0) {
			$( "#div_at_emergencia_interno" ).hide();
		} else {
			$( "#div_at_emergencia_interno" ).show();
		}
	}
	
	function insert_foto() {
		var n = $( "#div_foto" ).children().length + $( "#fotos_atuais" ).children().length;
		if (n == 3) {
			alert("Só é possível ter 3 fotos.");
		} else {
			insert_html('<%=raw @item_foto.gsub("\n", ' ').squeeze(' ')%>', "div_foto");
		}
	}


	function insert_equipe() {
		var n = $( "#div_equipe" ).children().length;
		if (n == 4) {
			alert("Só é possível ter 4 nomes na equipe.");
		} else {
			
			id_eq = "item_" + Math.floor((Math.random() * 10000000) + 1);
			html_item = "<span id='"+id_eq+"' class='class_equipe'><div class=\"col-lg-12\">&nbsp;</div>" + 
						"" + 
							"<div class=\"col-lg-6\">" + 
								'<%=raw @item_input_equipe.gsub("\n", ' ').squeeze(' ')%>' + 
							"</div>" + 
							"<div class=\"col-lg-2\">" + 
								"<button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('"+id_eq+"')\">-</button>" + 
							"</div>" + 
							"<div class=\"col-lg-4\">&nbsp;</div>" + 
					"</span>";
					
			$("#div_equipe").append(html_item);
		}
		
	}

	function insert_horario_normal() {
		id_hor_normal = "id_hor_normal_" + Math.floor((Math.random() * 10000000) + 1);;
		html_item =  "<span id='" + id_hor_normal + "'><div class=\"col-lg-12\">&nbsp;</div>" +
						"" +
							"<div class=\"col-lg-4\">" +
								"<label>Dia:</label>" +
								'<%=raw @item_horario_dia_sem.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Abre:</label>" +
								'<%=raw @item_horario_open.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Fecha:</label>" +
								'<%=raw @item_horario_close.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>"+
							"<div class=\"col-lg-2\">" +
								"<br><button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('"+id_hor_normal+"')\">-</button>" +
							"</div>" +
						"</span>";
		$("#div_atendimento").append(html_item);
		$('.horario-input').inputmask({mask: '99:99'})
	}

	function insert_horario_emerg() {
		id_hor_emerg = "id_hor_emerg_" + Math.floor((Math.random() * 10000000) + 1);;
		html_item =  "<span id='" + id_hor_emerg + "'><div class=\"col-lg-12\">&nbsp;</div>" +
						"" +
							"<div class=\"col-lg-4\">" +
								"<label>Dia:</label>" +
								'<%=raw @item_horario_emerg_dia_sem.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Abre:</label>" +
								'<%=raw @item_horario_emerg_open.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Fecha:</label>" +
								'<%=raw @item_horario_emerg_close.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>"+
							"<div class=\"col-lg-2\">" +
								"<br><button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + id_hor_emerg +"')\">-</button>" +
							"</div>" +
						"</span>";
		$("#div_at_emergencia_interno").append(html_item);
		$('.horario-input').inputmask({mask: '99:99'})
	}
	
	function excluir_item(id) {
		$("#"+id).remove();
	}
	
	function insert_html(html_item, idDiv) {
		item_id = "item_" + Math.floor((Math.random() * 10000000) + 1);
		html_excluir = "<button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + item_id + "')\">-</button>";
		new_item = '<div id="'+ item_id + '"><div class="col-lg-9">' + html_item  + '</div><div class="col-lg-3">' + html_excluir  + '</div></div>';
		$("#"+idDiv).append(new_item);
	}
	NR_ICON = 9;
	function icone_click(id) {
		for (i=1; i <= NR_ICON; i++) {
			$("#icone-"+i).css("background-color","#fff");
		}
		$("#icone-"+id).css("background-color","#5cb85c");

		$( "#dentista_icon" ).val( get_icon_value(id) );
		
	}
	
	function get_icon_value(id) {
		return "/images/img_list_sponsor_tip"+id+".png";
	}
	
	function set_background_icon(value) {
		for (i=1; i <= NR_ICON; i++) {
			$("#icone-"+i).css("background-color","#fff");
			if (value.indexOf(get_icon_value(i))>=0) {
				$("#icone-"+i).css("background-color","#5cb85c");
			}
		}
	}
	
		<%
		if not @dentista.icon.nil? then %>
			set_background_icon('<%=@dentista.icon%>');
<%
		end
		%>
		
		select_promocao(<%=@value_promo%>);
		select_at_emerg(<%=@value_at_emerg%>);
</script>
