<%= render :template => "admin/header", :locals => {:titulo => "Dentistas", :sub_titulo => "Lista"} %>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Ativo</th>
			<th>Venc. Assinatura</th>
			<th colspan="3">Ação</th>
		</tr>
	</thead>
	<tbody>
		<% @dentistas.each do |obj| %>
		<tr>
			<td><%= obj._id %></td>
			<td><%= obj.nome%></td>
			<td><%= obj.active ? "Sim" : "Não"  %></td>
			<td><%= obj.dt_expiration_date_format  %></td>
			<td><%= link_to 'Visualizar', admin_dentista_show_path(obj) %></td>
			<td><%= link_to 'Editar', admin_dentista_edit_path(obj) %></td>
			<td><%= link_to 'Apagar', admin_dentista_delete_path(obj), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
