<%= render :template => "admin/header", :locals => {:titulo => "Dentistas", :sub_titulo => "Visualizar"} %>

<div class="col-lg-12">
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Dados</h3>
        </div>
        <div class="panel-body">
        	<div class="form-group">
        		<%=image_tag(@dentista.profile, style: "max-height: 100px;")%>
        	</div>
        	<div class="form-group">
        		<label>Id:</label>
				<%=@dentista._id%>
			</div>
			<div class="form-group">
				<label>Nome:</label>
				<%=@dentista.nome%>
			</div>
			<div class="form-group">
				<label>Ativo:</label>
				<%= (@dentista.active ? "Sim" : "Não")%>
			</div>
			<div class="form-group">
				<label>Vencimento da Assinatura:</label>
				<%= @dentista.dt_expiration_date_format %>
			</div>
			
			<div class="form-group">
				<label>Ícone:</label>
				<%=@dentista.icon.nil? ? "" : image_tag(@dentista.icon, style: "max-height: 100px; padding:10px")%>
			</div>
			
			<div class="form-group">
				<label>Telefone:</label>
				<% @phone = (not @dentista.phones.nil? and @dentista.phones.size > 0) ? @dentista.phones[0] : ""%>
				<%=@phone%>
			</div>
			<div class="form-group">
				<label>Site:</label>
				<%=@dentista.site%>
			</div>
			<div class="form-group">
				<label>Email:</label>
				<%=@dentista.email%>
			</div>
			
			<div class="form-group">
				<label>Destaque:</label>
				<%=@dentista.destaque == 1 ? "Não" : "Sim"%>
			</div>
			<div class="form-group">
			</div>
			
		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Serviços</h3>
        </div>
        <div class="panel-body">
        	
			<div class="form-group">
				<div class='col-lg-12-without-padding'>
			<%
			 		total_cat = @dentista.servicos.nil? ? 0 : @dentista.servicos.size
			      	num_p_col = total_cat / 3
			     	num = 0
			      	col = 1
			      	if num_p_col = 0 then
			      		num_p_col = 1
			       end
			%>
				</div>
				<div class='col-lg-4'>
<%
					if not @dentista.servicos.nil? then
						@dentista.servicos.each do |item| %>
				<%
						if num % num_p_col == 0 and num != 0 and col != 3 then
							col += 1
				%>
							</div>
							<div class='col-lg-4'>
				<%
						end
						num += 1
						ck_active = false
						if not @dentista.servicos.nil? then
							ck_active = @dentista.servicos.include?(item)
						end
				%>
						<div class="checkbox">
							<label><%=item%> </label>
						</div>
<% 
					end 
					end
					%>
				</div>
				
			</div>

		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Equipe</h3>
        </div>
        <div class="panel-body">
        	
			<div class="form-group" id="div_equipe">
		<%
					
		
			if not @dentista.equipe.nil? and @dentista.equipe.size > 0 then
				@dentista.equipe.each do |eq|%>
					<div class="form-group">
						<%=eq%>
					</div>
					
		<%
				end
			end
		%>
					
		
			</div>
		</div>
	</div>
</div>

	
<div class="col-lg-12">
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Atendimento</h3>
        </div>
        <div class="panel-body">
        	
			<div class="form-group" id="div_atendimento">
		<%
				dias_semana_array = MainYetting.DIAS_SEMANA.map { |t| [t["desc"], t["id"]] }
				
				if not @dentista.at_normal.nil? and @dentista.at_normal.size > 0 then
					@dentista.at_normal.each do |horario|
%>
						
					<div class="col-lg-12">&nbsp;</div>
					<div>
						<div class="col-lg-4">
							<label>Dia:</label>
							<%=MainYetting.DIAS_SEMANA[horario.dia_sem]["desc"]%>
						</div>
						<div class="col-lg-3">
							<label>Abre:</label>
							<%=horario.h_open%>
						</div>
						<div class="col-lg-3">
							<label>Fecha:</label>
							<%=horario.h_close%>
						</div>
						<div class="col-lg-2">
							&nbsp;
						</div>
					</div>
<%  
					end
				end
%>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Atendimento de emergência</h3>
        </div>
        <div class="panel-body">
        	
			<div class="form-group" id="div_atendimento_emerg">
				<div class="col-lg-5">
					<label>Possui atendimento de emergência?</label>
				</div>
				<div class="col-lg-7">
		<%
					@value_at_emerg = 1
					if @dentista.at_emerg.nil? or @dentista.at_emerg.size <= 0 then
						@value_at_emerg = 0
					else
						if @dentista.at_emerg.size == 1 and (@dentista.at_emerg[0].h_open.nil? or @dentista.at_emerg[0].h_open.empty?) then
							@value_at_emerg = 0
						end
					end
		%>
					<%= @value_at_emerg == 0 ? "Não" : "Sim" %>
				</div>
				
				<div id="div_at_emergencia_interno">

<%
					if not @dentista.at_emerg.nil? and @dentista.at_emerg.size > 0 then
						@dentista.at_emerg.each do |horario|%>
							
					<div class="col-lg-12">&nbsp;</div>
					<div>
						<div class="col-lg-4">
							<label>Dia:</label>
							<%=horario.dia_sem%>
						</div>
						<div class="col-lg-3">
							<label>Abre:</label>
							<%=horario.h_open%>
						</div>
						<div class="col-lg-3">
							<label>Fecha:</label>
							<%=horario.h_close%>
						</div>
						<div class="col-lg-2">
							&nbsp;
						</div>
					</div>
<%
						end
					end%>
				</div>
			</div>
		</div>
	</div>
</div>
                
<div class="col-lg-12">
	
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Endereço</h3>
        </div>
        <div class="panel-body">
         
		         <div class="col-lg-6">
		         	<label>Rua:</label>
		         	<%=@dentista.address.street%>
		         </div>
		         <div class="col-lg-3">
		         	<label>Nr.:</label>
		         	<%=@dentista.address.number%>
		         </div>
		         <div class="col-lg-3"> 
		         	<label>Comp.:</label>
		         	<%=@dentista.address.complement%>
		 		 </div>
		 		 <div class="col-lg-12">&nbsp;</div>
		         <div class="col-lg-6">
		         	<label>Bairro:</label>
		         	<%=@dentista.address.neighborhood%>
		         </div>
		         <div class="col-lg-6">
		         	<label>CEP:</label>
		         	<%=@dentista.address.zip_code%>
		         </div>
		         <div class="col-lg-12">&nbsp;</div>
		         <div class="col-lg-6">
		         	<label>Estado:</label>
		         	<%=@dentista.address.state%>
		         </div>
		         <div class="col-lg-6">
		         	<label>Cidade:</label>
		         	<%=@dentista.address.city%>
		         </div>
		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Promoção</h3>
        </div>
        <div class="panel-body">
        	
			<div class="form-group">
				<div class="col-lg-4">
					<label>Dentista com Promoção?</label>
				</div>
				<div class="col-lg-8">
					<%=(@dentista.promocao.nil? or @dentista.promocao.perc.nil?) ? "Não" : "Sim" %>
				</div>
			</div>
			<div class="col-lg-12">&nbsp;</div>
			<% if not (@dentista.promocao.nil? or @dentista.promocao.perc.nil?) then %>
			<span id="div_input_promocao">
			         <div class="col-lg-6">
			         	<label>Percentual</label>
			         	<%=  @dentista.promocao.perc %>%
			         </div>
			         <div class="col-lg-6">
			         	<label>Serviço</label>
			         	<%=  @dentista.promocao.servico %>
			         </div>
			</span>
			<%end%>
		</div>
	</div>
</div>
<div class="col-lg-12"><hr></div>

<div class="col-lg-12">
	
	<div class="panel panel-default">
   		<div class="panel-heading">
        	<h3 class="panel-title">Fotos </h3>
        </div>
        <div class="panel-body">
	<%
			@item_foto  = file_field 'dentista', 'pictures', name: 'dentista[pictures][]'
			if not @dentista.pictures.nil? and @dentista.pictures.size > 0 then
				@dentista.pictures.each do |f| %>
					<div style="float: left" class="text-center"><%=image_tag(f.picture, style: "max-height: 200px;")%>
					</div>
	<%
				end
			end
			%>
		</div>
	</div>
</div>