<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"> <%= titulo %> <small>
			<Novo>
				<%= sub_titulo%>
		</small></h1>

                
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end %>

		<!--
		<ol class="breadcrumb">
		<li class="active">
		<i class="fa fa-dashboard"></i> Dashboard
		</li>
		</ol>
		-->
	</div>
</div>