<div class='form-group'>
	<label class='control-label col-md-2 col-md-offset-2' for='id_email'>Modo de Pagamento</label>
	<div class='col-md-6'>
		<div class='form-group'>
			<div class='col-md-6'>
				<select class='form-control' id='payment_type'  name="payment_type">
					<option value="credit_card">Cartão de Crédito</option>
					<option value="boleto">Boleto</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div class='form-group'>
	<label class='control-label col-md-2 col-md-offset-2' for='dentist[plano]'>Plano Escolhido</label>
	<div class='col-md-6'>
		<div class='form-group'>
			<div class='col-md-6'>
				<select class='form-control' id='dentist[plano]' name='dentist[plano]'>
					
					<option value='anual' selected="selected">Anual</option>
					<option value='semestral'>Semestral</option>
				</select>
			</div>
		</div>
	</div>
	<div class='col-md-4'></div>
	<div class='col-md-8'>
		<div class='form-group internal'>
			<p>
				Assinatura Semestral: R$ 200,00
			</p>
			<p>
				Assinatura Anual: R$ 400,00
			</p>
		</div>
	</div>
</div>
<div class='form-group' id="form_credit_card">
	<label class='control-label col-md-2 col-md-offset-2' for='id_adults'>Dados do Cartão</label>
	<div class='col-md-8'>
		<div class='col-md-8'>
			<div class='form-group internal'>
				<input class='form-control' id='card_holder_name' placeholder='Nome' type='text' >
			</div>
		</div>
	</div>
	<div class='col-md-4'></div>
	<div class='col-md-8'>
		<br>
		<div class='col-md-5'>
			<div class='form-group internal'>
				<input class='form-control' id='card_number' name='card_number' placeholder='Número do Cartão' type='text'>
			</div>
		</div>
		<div class='col-md-3'>
			<div class='form-group internal' style="padding-left: 5px;">
				<input class='form-control' id='card_cvv' placeholder='Código de Segurança' type='text'>
			</div>
		</div>
	</div>
	<div class='col-md-4'></div>
	<div class='col-md-8'>
		<br>
		<div class='col-md-2'>
			<div class='form-group internal'>
				<select class='form-control' id='id_equipment'>
					<option value="credit_card">Visa</option>
					<option value="boleto">Master</option>
				</select>

			</div>
		</div>
		<div class='col-md-3'>
			<div class='form-group internal' style="padding-left: 5px;">
				<input class='form-control' id='card_expiration_month' placeholder='Mês de expiração' type='text'>
			</div>
		</div>
		<div class='col-md-3'>
			<div class='form-group internal' style="padding-left: 5px;">
				<input class='form-control' id='card_expiration_year' placeholder='Ano de expiração' type='text'>
			</div>
		</div>
	</div>
	<div class='col-md-4'></div>
	<div class='col-md-8'>
		<br>
		<div id="field_errors"></div>
	</div>
</div>

<script>
	$(document).ready(function() {// quando o jQuery estiver carregado...
		$(":input").inputmask();
		$('#card_expiration_month').inputmask({
			mask : '99'
		});
		$('#card_expiration_year').inputmask({
			mask : '9999'
		});
		$('#card_cvv').inputmask({
			mask : '999'
		});
		$('#card_number').inputmask({
			mask : '9999-9999-9999-9999'
		});
		
		
		PagarMe.encryption_key = "<%=MainYetting.PAGAR_ME_ENC_KEY%>";


			
		var form = $("#<%= form_id%>");

		form.submit(function(event) {// quando o form for enviado...
		// inicializa um objeto de cartão de crédito e completa
		// com os dados do form

		

		var creditCard = new PagarMe.creditCard();
		creditCard.cardHolderName = $("#card_holder_name").val();
		creditCard.cardExpirationMonth = $("#card_expiration_month").val();
		creditCard.cardExpirationYear = $("#card_expiration_year").val();
		creditCard.cardNumber = $("#card_number").val();
		creditCard.cardCVV = $("#card_cvv").val();
		
		// pega os erros de validação nos campos do form
		var fieldErrors = creditCard.fieldErrors();

		//Verifica se há erros
		var hasErrors = false;
		for (var field in fieldErrors) {
		hasErrors = true;
		alert("field: " + field);
		break;

		}

		if (hasErrors) {
		// realiza o tratamento de errors
		alert("erro: " + fieldErrors);
		} else {
		// se não há erros, gera o card_hash...
		creditCard.generateHash(function(cardHash) {
		// ...coloca-o no form...
		form.append($('<input type="hidden" name="card_hash">').val(cardHash));
		// e envia o form
		form.get(0).submit();
		});
		}

		return false;
		});
		});
		
	$( "#payment_type" )
	  .change(function () {
	    if ("boleto" == $( "#payment_type" ).val()) {
	    	$("#form_credit_card").hide()
	    } else {
	    	$("#form_credit_card").show()
	    }
	  })
	  .change();
</script>