
<%
if @dentista.nil? then
%>
erro
<%
else
%>
<%=@dentista.nome%>,<br>
Seu pagamento está em processamento. <br>
Assim que finalizar vc receberá um email com seu usuário e senha para realizar o preenchimento dos dados do seu consultório.

<%end%>
