<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dentistas App</title>
	<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Dentistas APP" />
	<meta property="og:site_name" content="Dentistas APP"/>
	<meta property="og:url" content="http://www.dentistasapp.com" />
	<meta property="og:description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil." />

	<link href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/js/bootstrap-switch.min.js' type='text/javascript'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src='/assets/js/vendor/bootstrap.min.js' type='text/javascript'></script>
	<script src='/assets/js/vendor/jquery.inputmask.bundle.min.js' type='text/javascript'></script>
	<script src="https://pagar.me/assets/pagarme-v2.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

	<link rel="stylesheet" href="/assets/css/form.css">

	<meta charset="UTF-8">
</head>
<body>
	<div>
		<%= form_for @dentista, url: process_redo_payment_path, :html => { :id => "redo_payment_form",class:'form-horizontal', role:'form' } do |f| %>
		<%= f.hidden_field :dentista_id, value: @dentista.id %>
		<div class='container'>
			<div class='panel-heading'>
				<div class='bg'>
					<h4><img src="/assets/img/logo-flat.png" width="92" height="88">Refazer pagamento</h4>
				</div>
				<div class="dialog-panel" id="texto">
					<p>
						Infelizmente, enfrentamos problemas para confirmar o seu pagamento. Para tentar novamente, basta selecionar abaixo seu período de assinatura, que pode ser semestral ou anual. Selecionado o período, preencha seus dados e confirme o pagamento. Em menos de 24 horas, você receberá um e-mail com as instruções para criar seu perfil dentro do aplicativo.
					</p>
				</div>

				<div class='panel-body'>

					<div class='form-group' id='div_error'>
						&nbsp;

						<% flash.each do |name, msg| -%>
						<%= content_tag :div, msg, class: name %>
						<% end %>
					</div>

					<%= render :template => "dentist/payment/payment_form", :locals => {:form_id => "redo_payment_form"} %>

					<div class='form-group'>
						<label class='control-label col-md-2 col-md-offset-2' for='id_termos'>Concordo com os termos </label>

						<div class='col-md-8 form-group internal'>

							<div class='make-switch' data-off-label='Não' data-on-label='Sim' id='id_termos_switch'>
								<input id='accept_termos' name='accept_termos' type='checkbox' >
							</div>
							<div id="accept_termos_error"></div>
						</div>
					</div>
					<div class='form-group'>
						<div class='col-md-offset-4 col-md-3'>
							<button class='btn-lg btn-primary' type='button' onclick="javascript:validate_form()" >
								Continuar
							</button>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Confirmar Pagamento</h4>
					</div>
					<div class="modal-body" id="modal-message">
						Você está assinando um plano X e o valor a ser debitado é de Y.
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">
							Confirmar Pagamento
						</button>
					</div>
				</div>
			</div>
		</div>

		<% end %>
	</div>
	<script>
		function show_modal() {
			plano = $("#dentist\\[plano\\]").val();
			valor = "R$200,00";
			if (plano == "anual") {
				valor = "R$400,00";
			}
			html = "Você está assinando um plano " + plano + " e o valor a ser debitado é de " + valor + "."
			$("#modal-message").html(html);
			$('#confirm_modal').modal();
		}

		function validate_form() {
			var valid = $('form').validate().form()
			if (valid) {
				show_modal();
			}
		}


		$(document).ready(function() {
			$(":input").inputmask();

			$("#id_codigo_seguranca").inputmask({
				mask : '999'
			})

			jQuery.validator.addMethod("checkboxes", function(value, element) {
				return $("#" + element.name).is(':checked');
			});

			$('form').validate({
				ignore : [],
				rules : {
					accept_termos : {
						"checkboxes" : true
					}
				},
				messages : {
					"accept_termos" : {
						required : "Para realizar o cadastro você deve concordar com os termos",
						"checkboxes" : "Para realizar o cadastro você deve concordar com os termos"
					}
				},
				highlight : function(element) {
					$(element).closest('.form-group').addClass('has-error');
				},
				unhighlight : function(element) {
					$(element).closest('.form-group').removeClass('has-error');
				},
				errorElement : 'span',
				errorClass : 'help-block',
				errorPlacement : function(error, element) {
					var name_element = '#' + element.attr('name') + '_error';

					parent_element = $(name_element)
					if (parent_element.length) {
						error.insertAfter($(parent_element));
					} else if (element.parent('.input-group').length) {
						error.insertAfter(element.parent());
					} else {
						error.insertAfter(element);
					}
				}
			});

			jQuery.extend(jQuery.validator.messages, {
				required : "Campo obrigatório.",
				remote : "Valor inválido.",
				email : "Email inválido.",
				url : "URL inválida.",
				date : "Data inválida.",
				dateISO : "Data inválida (ISO).",
				number : "Número inválido.",
				digits : "Somente digitos são válidos.",
				creditcard : "Número de cartão inválido.",
				equalTo : "Entre o mesmo valor novamente.",
				accept : "Entre com um valor com uma extensão válida.",
				maxlength : jQuery.validator.format("Número máximo de caracteres {0}."),
				minlength : jQuery.validator.format("Deve ter no mínimo {0} caracteres."),
				rangelength : jQuery.validator.format("Entre com um valor entre {0} e {1}."),
				range : jQuery.validator.format("Entre com um valor entre {0} e {1}."),
				max : jQuery.validator.format("Entre com um valor menor que {0}."),
				min : jQuery.validator.format("Entre com um valor  maior que {0}.")
			});

		});

	</script>
</body>

</html>

