<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dentistas App</title>
	<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Dentistas APP" />
	<meta property="og:site_name" content="Dentistas APP"/>
	<meta property="og:url" content="http://www.dentistasapp.com" />
	<meta property="og:description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil." />

	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>

	<script src='/assets/js/vendor/bootstrap-switch.min.js' type='text/javascript'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type='text/javascript'></script>
	<script src='/assets/js/vendor/bootstrap.min.js' type='text/javascript'></script>
	<script src='/assets/js/vendor/jquery.inputmask.bundle.min.js' type='text/javascript'></script>
	<script src="https://pagar.me/assets/pagarme-v2.min.js" type='text/javascript'></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type='text/javascript'></script>
	<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
	<link href='/assets/css/vendor/bootstrap-switch.css' rel='stylesheet' type='text/css'>
	<link href="/assets/css/form.css" rel="stylesheet" type='text/css'>
	<link href='/assets/css/vendor/bootstrap.min.css' rel='stylesheet' type='text/css'>

	<meta charset="UTF-8">
</head>
<body>
	<div>

		<%= form_for @dentista, url: { action: "update" } , html: {:multipart => true, class:'form-horizontal', role:'form'} do |f| %>
		<div class='container'>
			<div class='panel-heading'>
				<div class='bg'>
					<h4><img src="/assets/img/logo-flat.png" width="92" height="88">Cadastro</h4>
				</div>
				<div class="dialog-panel" id="texto">
					<p>
						Para que seu perfil apareça corretamente no Dentistas App, preencha corretamente todas as suas informações. Caso você tenha dúvidas sobre o processo de pagamento, por favor, entre em contato no e-mail <a href="mailto:contato@dentistasapp.com">contato@dentistasapp.com</a>. Será um prazer atendê-lo!
					</p>
				</div>
			</div>
			<div class='panel-body'>

				<% flash.each do |name, msg| -%>
				<%= content_tag :div, msg, class: name %>
				<% end %>

				<%= f.hidden_field :_id %>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Dados</h3>
					</div>
					<div class="panel-body">

						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[nome]'>Nome</label>
							<div class='col-md-10'>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<%= f.text_field :nome,required: true, class: "form-control", autofocus: true, class: 'form-control', placeholder:'Nome' %>
									</div>
								</div>
							</div>
						</div>
						
						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[email]'>Email</label>
							<div class='col-md-10'>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<%= f.text_field :email, class: "form-control", placeholder:'Email',:readonly => true%>
									</div>
								</div>
							</div>
						</div>
						
						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[plano]'>Plano</label>
							<div class='col-md-3'>
								<label class='control-label-default col-md-2 col-md-offset-0' style="padding-top: 7px;" for='dentist[plano]'><%= @dentista.plano.capitalize%></label>
							</div>
							<div class='col-md-7'>
								<label class='control-label' for='dentist[plano]'>Data de expiração do plano</label>
								<label class='control-label-default col-md-offset-1' style="padding-top: 7px;" for='dentist[plano]'><%= @dentista.dt_expiration_date_format%></label>
							</div>

						</div>
						
						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist_icon'>Ícone</label>
							<div class='col-md-10'>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<%= f.hidden_field :icon, id: "dentist_icon", value: @dentista.icon %>
										<%= image_tag("img_list_sponsor_tip1.png", style: "max-height: 100px; padding:10px", id: "icone-1", onclick: "javascript:icone_click(1)")%>
										<%= image_tag("img_list_sponsor_tip2.png", style: "max-height: 100px; padding:10px", id: "icone-2", onclick: "javascript:icone_click(2)")%>
										<%= image_tag("img_list_sponsor_tip3.png", style: "max-height: 100px; padding:10px", id: "icone-3", onclick: "javascript:icone_click(3)")%>
										<%= image_tag("img_list_sponsor_tip4.png", style: "max-height: 100px; padding:10px", id: "icone-4", onclick: "javascript:icone_click(4)")%>
										<%= image_tag("img_list_sponsor_tip5.png", style: "max-height: 100px; padding:10px", id: "icone-5", onclick: "javascript:icone_click(5)")%>
										<%= image_tag("img_list_sponsor_tip6.png", style: "max-height: 100px; padding:10px", id: "icone-6", onclick: "javascript:icone_click(6)")%>
										<%= image_tag("img_list_sponsor_tip7.png", style: "max-height: 100px; padding:10px", id: "icone-7", onclick: "javascript:icone_click(7)")%>
										<%= image_tag("img_list_sponsor_tip8.png", style: "max-height: 100px; padding:10px", id: "icone-8", onclick: "javascript:icone_click(8)")%>
										<%= image_tag("img_list_sponsor_tip9.png", style: "max-height: 100px; padding:10px", id: "icone-9", onclick: "javascript:icone_click(9)")%>
									</div>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[phones][]'>Telefone</label>
							<div class='col-md-10'>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<% @phone = (not @dentista.phones.nil? and @dentista.phones.size > 0) ? @dentista.phones[0] : ""%>
										<%= f.text_field :phones, size: 20, name: "dentist[phones][]", class: "form-control", value: @phone, :"data-mask" => "999-999-9999", placeholder:'Telefone'%>
									</div>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[site]'>Site</label>
							<div class='col-md-10'>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<%= f.text_field :site, class: "form-control", placeholder:'Site'%>
									</div>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[active]'>Destaque</label>
							<div class='col-md-10'>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<%= select_tag(:active, options_for_select([['Sim', 1], ['Não', 2]], 1), { :class => 'form-control form-control-no-width' }) %>
									</div>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-2 col-md-offset-0' for='dentist[profile]'>Foto do profile</label>
							<div class='col-md-10'>

								<div class='col-md-10'>
									<div class='form-group internal'>
										<%
										if not @dentista.profile.nil? then%>
										<%= image_tag(@dentista.profile, style: "max-height: 200px;")%>
										<%
										end
										%>
									</div>
								</div>
								<div class='col-md-10 indent-small'>
									<div class='form-group internal'>
										<%= file_field 'dentist', 'profile'%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Fim Panel Dados -->

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Serviços</h3>
					</div>
					<div class="panel-body">
						<div class='form-group'>
							<%
 num_col = 3
                total_cat = MainYetting.SERVICOS.size
                num_p_col = total_cat / num_col
                num = 0
                col = 1
%>
							<div class='col-md-12'>
								<div class='col-md-4'>
									<div class='form-group internal'>

										<%
										MainYetting.SERVICOS.each do |item| %>
										<%
										if num % num_p_col == 0 and num != 0 and col != num_col then
										col += 1
										%>
									</div>
								</div>
								<div class='col-md-4'>
									<div class='form-group internal'>
										<%
										end
										num += 1
										ck_active = false
										if not @dentista.servicos.nil? then
										ck_active = @dentista.servicos.include?(item)
										end
										%>
										<div class="checkbox">
											<label class="control-label-default"> <%= check_box_tag "dentist[servicos][]", item, ck_active %><%= item %> </label>
										</div>

										<% end %>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div><!-- Fim Panel Serviços -->

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Equipe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_equipe()">
							Adicionar
						</button></h3>
					</div>
					<div class="panel-body" id="div_equipe">

<% 
						@item_input_equipe = f.text_field :equipe, name: 'dentist[equipe][]', class: "form-control", value: ""
						if not @dentista.equipe.nil? and @dentista.equipe.size > 0 then
							@dentista.equipe.each do |eq|
								@id_eq = "equipe_#{Random.new.rand(100...1000000)}"
%>
								<div class="form-group" id='<%= @id_eq%>'>
									<div class='col-md-12'>
										<div class='col-md-8 vcenter'>
											<div class='form-group internal'>
												<%=f.text_field :equipe, name: 'dentist[equipe][]', class: "form-control", value: eq%>
											</div>
										</div>
										<div class='col-md-2 col-md-offset-2 '>
											<div class='form-group internal'>
												<button class="btn btn-xs btn-danger" type="button" onclick="excluir_item('<%= @id_eq%>')">
														-
													</button>
											</div>
										</div>
									</div>							
								</div>
<%
							end
						end
%>
					</div>
				</div>
				<!-- Fim Panel Equipe -->


				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Atendimento</h3>
					</div>
					
<%
					dias_semana_array = MainYetting.DIAS_SEMANA.map { |t| [t["desc"], t["id"]] }

					f.fields_for @dentista.at_normal do |at|
						@item_horario_dia_sem = at.select(:dia_sem, options_for_select(dias_semana_array, ""), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_normal][][dia_sem]' })
						@item_horario_open = at.text_field :h_open, name: 'dentist[at_normal][][h_open]', class: "form-control horario-input", value: ""
						@item_horario_close = at.text_field :h_close, name: 'dentist[at_normal][][h_close]', class: "form-control horario-input", value: ""
					end
%>
									
					<div class="panel-body" id="div_atendimento">
						<div class='form-group'>
							<div class='col-md-12'>
								<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_horario_normal()">
									Adicionar Horário
								</button>
							</div>
						</div>

									
<%
						if not @dentista.at_normal.nil? and @dentista.at_normal.size > 0 then
							@dentista.at_normal.each do |horario|
								@id_atend = "at_normal_#{Random.new.rand(100...1000000)}"
%>
								<%= f.fields_for @dentista.at_normal do |at| %>
									<div class='form-group'  id='<%= @id_atend%>'>
										<div class='col-md-12'>
											<div class='col-md-4'>
												<%= at.label :dia_sem, class: "control-label" %>
												<%= at.select(:dia_sem, options_for_select(dias_semana_array, horario.dia_sem), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_normal][][dia_sem]' }) %>
											</div>
											<div class='col-md-3'>
												<%= at.label :h_open, class: "control-label" %>
												<%=at.text_field :h_open, name: 'dentist[at_normal][][h_open]', class: "form-control horario-input", value: horario.h_open%>
											</div>
											<div class='col-md-3'>
												<%= at.label :h_close, class: "control-label" %>
												<%=at.text_field :h_close, name: 'dentist[at_normal][][h_close]', class: "form-control horario-input", value: horario.h_close%>
											</div>
											<div class='col-md-2'>
												<br>
												<button class="btn btn-xs btn-danger" type="button" onclick="excluir_item('<%= @id_atend%>')">-</button>
											</div>
										</div>
									</div>
								<%end
							end
						end
								%>
					</div>
				</div><!-- Fim Panel Atendimento -->
			

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Atendimento de emergência</h3>
					</div>
<%
					dias_semana_array = MainYetting.DIAS_SEMANA.map { |t| [t["desc"], t["id"]] }

					f.fields_for @dentista.at_emerg do |at|
						@item_horario_emerg_dia_sem = at.select(:dia_sem, options_for_select(dias_semana_array, ""), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_emerg][][dia_sem]' })
						@item_horario_emerg_open = at.text_field :h_open, name: 'dentist[at_emerg][][h_open]', class: "form-control horario-input", value: ""
						@item_horario_emerg_close = at.text_field :h_close, name: 'dentist[at_emerg][][h_close]', class: "form-control horario-input", value: ""
					end

%>

									
					<div class="panel-body" id="div_atendimento_emerg">
						
						<div class="form-group" id="div_atendimento_emerg">
							<div class='col-md-12'>
								<div class='col-md-4'>
								<%= f.label "Possui atendimento de emergência ", class: "control-label"%>
<%
								@value_at_emerg = 1
							  	if @dentista.at_emerg.nil? or @dentista.at_emerg.size <= 0 then
							    	@value_at_emerg = 0
							  	else
							    	if @dentista.at_emerg.size == 1 and (@dentista.at_emerg[0].h_open.nil? or @dentista.at_emerg[0].h_open.empty?) then
							      		@value_at_emerg = 0
							    	end
							  	end
%>
								</div>
								<div class='col-md-2'>
									<%= select_tag("dentist[has_at_emerg]", options_for_select([['Sim', 1], ['Não', 0]], @value_at_emerg), { :class => 'form-control', :onchange => "javascript:select_at_emerg()", :id => "id_has_at_emerg" }) %>
								</div>
							</div>
						</div>
					</div>	
					<div id="div_at_emergencia_interno" class="panel-body">
						
						<div class='form-group'>
							<div class='col-md-4'>
								<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_horario_emerg()">
									Adicionar Horário
								</button>
							</div>
						</div>									
<%
						if not @dentista.at_normal.nil? and @dentista.at_emerg.size > 0 then
							@dentista.at_emerg.each do |horario|
								@id_atend = "at_emerg_#{Random.new.rand(100...1000000)}"
%>
								<%= f.fields_for @dentista.at_emerg do |at| %>
									<div class='form-group'  id='<%= @id_atend%>'>
										<div class='col-md-12'>
											<div class='col-md-4'>
												<%= at.label :dia_sem, class: "control-label" %>
												<%= at.select(:dia_sem, options_for_select(dias_semana_array, horario.dia_sem), { :include_blank=>false }, { :class => 'form-control', name: 'dentist[at_emerg][][dia_sem]' }) %>
											</div>
											<div class='col-md-3'>
												<%= at.label :h_open, class: "control-label" %>
												<%=at.text_field :h_open, name: 'dentist[at_emerg][][h_open]', class: "form-control horario-input", value: horario.h_open%>
											</div>
											<div class='col-md-3'>
												<%= at.label :h_close, class: "control-label" %>
												<%=at.text_field :h_close, name: 'dentist[at_emerg][][h_close]', class: "form-control horario-input", value: horario.h_close%>
											</div>
											<div class='col-md-2'>
												<br>
												<button class="btn btn-xs btn-danger" type="button" onclick="excluir_item('<%= @id_atend%>')">-</button>
											</div>
										</div>
									</div>
								<%end
							end
						end
								%>
					</div>
				</div><!-- Fim Panel Atendimento emergencia -->
				
					
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Endereço</h3>
					</div>
					<div class="panel-body">
						<%= f.fields_for @dentista.address do |a| %>
						<div class='form-group'>
							<div class='col-md-12'>
								<div class='col-md-7'>
									<%= a.label :street, class: "control-label" %>
									<%= a.text_field :street, required: true, class: "form-control"  %>
								</div>
								<div class='col-md-2'>
									<%= a.label :number, class: "control-label" %>
									<%= a.text_field :number, required: true, class: "form-control"  %>
								</div>
								<div class='col-md-3'>
									<%= a.label :complement, class: "control-label" %>
									<%= a.text_field :complement, class: "form-control" %>
								</div>
							</div>
						</div>
						<div class='form-group'>	
							<div class='col-md-12'>
								<div class='col-md-7'>
									<%= a.label :neighborhood, class: "control-label" %>
									<%= a.text_field :neighborhood, required: true, class: "form-control"  %>
								</div>
								<div class='col-md-5'>
									<%= a.label :zip_code, class: "control-label" %>
									<%= a.text_field :zip_code, required: true, class: "form-control"  %>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<div class='col-md-12'>
								<div class='col-md-7'>
									<% estado_array = MainYetting.ESTADOS { |fx| [fx] } %>
									<%= a.label :state, class: "control-label" %>
									<%= a.select(:state, options_for_select(estado_array, @dentista.address.state.nil? ? "São Paulo" : @dentista.address.state), { :include_blank=>false, :required => true }, { class: "form-control"}) %>
								</div>
								<div class='col-md-5'>
									<%= a.label :city, class: "control-label" %>
									<%= a.text_field :city, required: true, class: "form-control"  %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					
				</div><!-- Fim Panel Endereço -->
				

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Promoção</h3>
					</div>
					<div class="panel-body">

						<div class="form-group" id="div_atendimento_emerg">
							<div class='col-md-12'>
								<div class='col-md-3'>
									<%= f.label "Possui promoção? ", class: "control-label"%>
									<%@value_promo = (@dentista.promocao.nil? or @dentista.promocao.perc.nil?) ? 0 : 1;%>
								</div>
								<div class='col-md-2'>
									<%= select_tag("dentist[has_promo]", options_for_select([['Sim', 1], ['Não', 0]], @value_promo), { :class => 'form-control form-control-no-width', :onchange => "javascript:select_promocao()", :id => "id_has_promo" }) %>
								</div>
							</div>
						</div>
						
						<div class="form-group" id="div_input_promocao">
							<%= f.fields_for @dentista.promocao do |prom| %>
								<div class='col-md-12'>
									<div class='col-md-2'>
										<%= prom.label :perc, class: "control-label"  %>
										<%= prom.number_field "perc", :min =>1, :max => 99, :maxlength => 2, :size => 3, :class => 'form-control'  %>
									</div>
									<div class='col-md-5'>
										
										<%= prom.label :servico, class: "control-label"  %>
										<% fx_servico_array = MainYetting.SERVICOS { |fx| [fx] } %>
										<%= prom.select(:servico, options_for_select(fx_servico_array, prom.object), { :include_blank=>false }, { :class => 'form-control' }) %> 
									</div>
								</div>
							<%end%>						
						</div>
					</div>	
				</div>
				<!-- Fim Panel Promoção -->
				
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Fotos&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-xs btn-primary" onclick="javascript:insert_foto()">
								+
							</button>
						</h3>
					</div>
					<div class="panel-body">
						<div id="div_new_fotos" class="control-label">
						</div>
						<%
						@item_foto  = file_field_tag "images[]", type: :file, multiple: true
						if not @dentista.pictures.nil? then
						%>
							<div class="form-group" >
								<div class='col-md-12'>
									<div class='col-md-3'>
										<%= f.label "Fotos Atuais ", class: "control-label"%>
									</div>
									<div id="div_fotos_atuais" class="text-center" >
										<%@dentista.pictures.each do |f| %>
										<div class='col-md-3 text-center'>
											
											<div  class="text-center">
												<%=image_tag(f.picture, style: "max-height: 200px;")%>
												<br>
												<%= link_to 'Apagar', admin_dentista_delete_foto_path(@dentista._id, f._id), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %>
											</div> 
												
										</div>
										<%end%>
									</div>
								</div>
							</div>
						<%end%>
					</div>	
				</div>
				<!-- Fim Panel Fotos -->
				
				
					
				
				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn-lg btn-primary' type='submit' >
							Salvar
						</button>

					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	

<script>
	$(document).ready(function(){
	    $(":input").inputmask();
	    $('#dentist_phones').inputmask({mask: '(99)99999-9999'})
	    $('.horario-input').inputmask({mask: '99:99'})
	    $('#dentist_address_zip_code').inputmask({mask: '99999-999'})
	    $('#dentist_promocao_perc').inputmask({mask: '99'})
	});
	
		
	function insert_foto() {
		var n = $( "#div_new_fotos").children().length + $( "#div_fotos_atuais" ).children().length;
		if (n == 3) {
			alert("Só é possível ter 3 fotos.");
		} else {
			insert_html('<%=raw @item_foto.gsub("\n", ' ').squeeze(' ')%>', "div_new_fotos");
		}
	}
	
	function insert_html(html_item, idDiv) {
		
		item_id = "item_" + Math.floor((Math.random() * 10000000) + 1);
		
		html_item = "<div class='form-group' id='" + item_id + "'>" +
						"<div class='col-md-12'>" +
							"<div class='col-md-8 vcenter'>" + 
								"<div class='form-group internal'>" + 
									 html_item +
								"</div>" +
							"</div>" +
							"<div class='col-md-2 col-md-offset-2 '>" +
								"<div class='form-group internal'>" +
									"<button class='btn btn-xs btn-danger' type='button' onclick='excluir_item(\"" + item_id + "\")'>" +
											"-" +
										"</button>" +
								"</div>" +
							"</div>" +
						"</div>	" +						
					"</div>";
						
		
		$("#"+idDiv).append(html_item);
	}
	
	NR_ICON = 9;
	function icone_click(id) {
		for (i=1; i <= NR_ICON; i++) {
			$("#icone-"+i).css("background-color","#fff");
		}
		$("#icone-"+id).css("background-color","#5cb85c");

		$( "#dentist_icon" ).val( get_icon_value(id) );
		
	}
	function get_icon_value(id) {
		return "/images/img_list_sponsor_tip"+id+".png";
	}
	function set_background_icon(value) {
		for (i=1; i <= NR_ICON; i++) {
			$("#icone-"+i).css("background-color","#fff");
			if (value.indexOf(get_icon_value(i))>=0) {
				$("#icone-"+i).css("background-color","#5cb85c");
			}
		}
	}
	
	function insert_equipe() {
		var n = $( "#div_equipe" ).children().length;
		if (n == 4) {
			alert("Só é possível ter 4 nomes na equipe.");
		} else {
			
			id_eq = "item_" + Math.floor((Math.random() * 10000000) + 1);
			
			html_item = "<div class='form-group' id='" + id_eq + "'>" +
							"<div class='col-md-12'>" +
								"<div class='col-md-8 vcenter'>" + 
									"<div class='form-group internal'>" + 
										 '<%= @item_input_equipe %>' +
									"</div>" +
								"</div>" +
								"<div class='col-md-2 col-md-offset-2 '>" +
									"<div class='form-group internal'>" +
										"<button class='btn btn-xs btn-danger' type='button' onclick='excluir_item(\"" + id_eq + "\")'>" +
												"-" +
											"</button>" +
									"</div>" +
								"</div>" +
							"</div>	" +						
						"</div>";
			
					
			$("#div_equipe").append(html_item);
		}
		
	}
	
	function excluir_item(id) {
		$("#"+id).remove();
	}
	
	function insert_horario_emerg() {
		id_hor_emerg = "id_hor_emerg_" + Math.floor((Math.random() * 10000000) + 1);
		html_item =  "<div class='form-group'  id='" + id_hor_emerg + "'>" +
						"<div class='col-md-12'>" +
							"<div class='col-md-4'>" +
								"<label class='control-label'>Dia</label>" +
								'<%=raw @item_horario_emerg_dia_sem.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class='col-md-3'>" +
								"<label class='control-label'>Abre</label>" +
								'<%=raw @item_horario_emerg_open.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class='col-md-3'>" +
								"<label class='control-label'>Fecha</label>" +
								'<%=raw @item_horario_emerg_close.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class='col-md-2'>" +
								"<br>" +
								"<button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + id_hor_emerg + "')\">-</button>" +
							"</div>" +
						"</div>" +
					"</div>";
					
		$("#div_at_emergencia_interno").append(html_item);
		$('.horario-input').inputmask({mask: '99:99'})
	}
	
	function insert_horario_normal() {
		id_hor_normal = "id_hor_normal_" + Math.floor((Math.random() * 10000000) + 1);
		html_item =  "<div class='form-group'  id='" + id_hor_normal + "'>" +
						"<div class='col-md-12'>" +
							"<div class='col-md-4'>" +
								"<label class='control-label'>Dia</label>" +
								'<%=raw @item_horario_dia_sem.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class='col-md-3'>" +
								"<label class='control-label'>Abre</label>" +
								'<%=raw @item_horario_open.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class='col-md-3'>" +
								"<label class='control-label'>Fecha</label>" +
								'<%=raw @item_horario_close.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class='col-md-2'>" +
								"<br>" +
								"<button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + id_hor_normal + "')\">-</button>" +
							"</div>" +
						"</div>" +
					"</div>";
					
		$("#div_atendimento").append(html_item);
		$('.horario-input').inputmask({mask: '99:99'})
	}
	
	function select_at_emerg(val) {
		if (val == undefined) {
			val = $( "#id_has_at_emerg" ).val();
		} else {
			$( "#id_has_at_emerg" ).val(val)
		}
		if (val == 0) {
			$( "#div_at_emergencia_interno" ).hide();
		} else {
			$( "#div_at_emergencia_interno" ).show();
		}
	}
	
	function select_promocao(val) {
		if (val == undefined) {
			val = $( "#id_has_promo" ).val();
		} else {
			$( "#id_has_promo" ).val(val)
		}
		if (val == 0) {
			$( "#div_input_promocao" ).hide();
		} else {
			$( "#div_input_promocao" ).show();
		}
	}
	
<%  if not @dentista.icon.nil? then %>
		set_background_icon('<%=@dentista.icon%>');
<%	end%>
	
	select_at_emerg(<%=@value_at_emerg%>);
	select_promocao(<%=@value_promo%>);
</script>
</body>
</html>
