

<script src="https://pagar.me/assets/pagarme-v2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Cadastro Dentista</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	
	<div class="field">
		<%= f.label :nome %>
		<br />
		<%= f.text_field :nome, autofocus: true %>
	</div>
	
	<div class="field">
		<%= f.label :email %>
		<br />
		<%= f.email_field :email%>
	</div>
	<div class="form-group">
		<%= f.label "Telefone: "%>
		<%= f.text_field :phones, size: 20, name: "dentist[phones][0]", class: "form-control", value: @phone, :"data-mask" => "999-999-9999"%>
	</div>
	
 <%= render :template => "dentist/payment/payment_form", :locals => {:form_id => "new_dentist"} %>

    <br/>
    
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>

<%= render "dentist/shared/links" %>