<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dentistas App</title>
	<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Dentistas APP" />
	<meta property="og:site_name" content="Dentistas APP"/>
	<meta property="og:url" content="http://www.dentistasapp.com" />
	<meta property="og:description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil." />	
	
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
	
	<script src='/assets/js/vendor/bootstrap-switch.min.js' type='text/javascript'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type='text/javascript'></script>
	<script src='/assets/js/vendor/bootstrap.min.js' type='text/javascript'></script>
	<script src='/assets/js/vendor/jquery.inputmask.bundle.min.js' type='text/javascript'></script>
	<script src="https://pagar.me/assets/pagarme-v2.min.js" type='text/javascript'></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type='text/javascript'></script>

	<link href='/assets/css/vendor/bootstrap-switch.css' rel='stylesheet' type='text/css'>
	<link href="/assets/css/form.css" rel="stylesheet" type='text/css'>
	<link href='/assets/css/vendor/bootstrap.min.css' rel='stylesheet' type='text/css'>
	
	<meta charset="UTF-8">
</head>
<body>
	<div>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:'form-horizontal', role:'form'}) do |f| %>

		<div class='container'>
			<div class='panel-heading'>
				<div class='bg'>
					<h4><img src="/assets/img/logo-flat.png" width="92" height="88">Cadastro</h4>
				</div>
				<div class="dialog-panel" id="texto">
					<p>
						Para você, Dentista, é fácil fazer parte! Basta selecionar abaixo seu período de assinatura, que pode ser semestral ou anual. Selecionado o período, basta preencher seus dados e confirmar o pagamento. Em menos de 24 horas, você receberá um e-mail com as instruções para criar seu perfil dentro do aplicativo.
					</p>
				</div>
			</div>
			<div class='panel-body'>

				<div class='form-group' id='div_error'>
					&nbsp;
					<% devise_error_messages_custom!.each do |msg| -%>
					<%= content_tag :div, msg, class: "alert alert-danger" %>
					<% end %>

					<% flash.each do |name, msg| -%>
					<%= content_tag :div, msg, class: name %>
					<% end %>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='dentist[nome]'>Nome</label>
					<div class='col-md-8'>
						<div class='col-md-2'>
							<div class='form-group internal'>
								<select class='form-control' id='id_title'>
									<option>Dr</option>
									<option>Dra</option>
								</select>
							</div>
						</div>
						<div class='col-md-6 indent-small'>
							<div class='form-group internal'>
								<%= f.text_field :nome, autofocus: true, class: 'form-control', placeholder:'Nome' %>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_adults'>Telefone</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<%= f.text_field :phones, name: "dentist[phones][]", class: "form-control", value: resource.phone, placeholder:'11 9999 9999'%>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_email'>Email</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' name='dentist[email]' id='dentist[email]' placeholder='E-mail' type='text'>
							</div>
						</div>
					</div>
				</div>

				<%= render :template => "dentist/payment/payment_form", :locals => {:form_id => "new_dentist"} %>

				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_termos'>Concordo com os termos </label>

					<div class='col-md-2 control-label-default form-group internal padding-form'>

						<div class='make-switch' data-off-label='Não' data-on-label='Sim' id='id_termos_switch'>
							<input id='accept_termos' name='accept_termos' type='checkbox' >
						</div>
						
					</div>
					<div class='col-md-6 control-label-default form-group internal padding-form'>
						<a href="#" onclick="javascript:show_termos_adesao();">
							Termo de Adesão
						</a>
					</div>
					<div class="col-md-8 has-error">
						<div id="accept_termos_error" ></div>
					</div>
				</div>
				
				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn-lg btn-primary' type='button' onclick="javascript:validate_form()" >
							Continuar
						</button>

					</div>
				</div>
			</div>

		</div>

		<!-- Modal -->
		<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Confirmar Pagamento</h4>
					</div>
					<div class="modal-body" id="modal-message">
						Você está assinando um plano X e o valor a ser debitado é de Y.
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">
							Confirmar Pagamento
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal Termos de uso-->
		<div class="modal fade" id="termo_adesao_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">TERMO DE ADESÃO</h4>
					</div>
					<div class="modal-body text-termos-adesao" id="modal-message">
<b>CLÁUSULA PRIMEIRA:</b><br><br>
O presente instrumento tem por objetivo a regulamentação dos serviços que serão prestados pela <b>“FABIO MARCOS BAHR ME”</b>, pessoa jurídica de direito privado inscrita no CNPJ/MF  sob o nº 03.904.108/0001-05, com sede na Rua Tuim, nº 356, sala 1, Moema, São Paulo-SP, neste ato representado pelo sócio proprietário Fabio Marcos Bahr, brasileiro, divorciado, jornalista, portador da cédula de identidade - RG nº 15.58.4639- SSP/SP e inscrita no CPF/MF sob o n° 167.043.468-05. Estes serviços dão ao dentista o direito de participar e usufruir de forma gratuita por 2 (dois) meses do Aplicativo dentistas, a primeira rede social mobile para dentista no Brasil. Trata-se de uma plataforma proprietária com funcionalidades para o sistema operacional Android (Google);
<br><br>
A utilização do Aplicativo Dentista é voltado exclusivamente para Dentistas profissionais e devidamente registrados.
<br><br>
O Aplicativo Dentista oferece ao dentista a possibilidade de divulgar seus dados (Nome do Consultório, Endereço, Horário de atendimento, Serviços Prestados, Equipe, Site, Foto e Telefone de Contato), enviar dicas patrocinadas (Item comercializado separadamente) para os usuários do Aplicativo Dentistas App, informar a possibilidade de atendimento de emergência e também oferecer descontos aos usuários/clientes. 
<br><br>
<b>CLÁUSULA SEGUNDA: </b>
<br><br>
Este termo oferece o período de 2 (dois) meses gratuitos, que serão concedidos ao dentista  que optar por uma assinatura semestral, pela qual será cobrada a quantia de R$ 200,00 (duzentos  reais); ou anual, pela quantia de R$ 400,00 (quatrocentos reais) a  título de remuneração a <b>“FABIO MARCOS BAHR ME”, no ato do aceite deste termo</b>.

<br><br>
<b>CLÁUSULA TERCEIRA: </b>
<br><br>
O presente instrumento terá prazo de validade <b>estipulado na cláusula segunda</b>, contados a partir da assinatura, podendo ser prorrogado, se for do interesse das partes.
<br><br>

<b>CLÁUSULA QUARTA: </b>
<br><br>
Caso haja interesse na rescisão do termo, a parte interessada notificará a outra, por escrito, com antecedência mínima de 30 (trinta) dias antes do término do contrato. O valor a ser pago não será devolvido.
<br><br>
<b>CLÁUSULA QUINTA: </b>
<br><br>
As informações de cada dentista que serão implementadas no sistema serão de responsabilidade de cada profissional.
<br><br>
<b>PARÁGRAFO ÚNICO:</b>
<br><br>
Para tal, após a aceitação deste termo de Adesão, cada Dentista receberá um link para acesso online ao site de administração, um usuário único e uma senha.
<br><br>
<b>CLÁUSULA SEXTA: </b>
<br><br>
Para fins de utilização do Aplicativo Dentistas App, declaro estar ciente dos artigos acima elencados neste termo e atesto pela veracidade e exatidão das informações perante a legislação vigente.
<br><br>
<b>CLÁUSULA SÉTIMA:</b>
<br><br>
Fica eleito o Foro Regional de Santana da Comarca de São Paulo, para dirimir qualquer dúvida resultante deste contrato.
<br><br>

Li, aceito e estou de acordo com os termos deste contrato.
<br><br>
<b>Opção desejada de assinatura</b>
<br>
Semestral (R$ 200)<br>
Anual (R$ 400,00)

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Fechar
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<% end %>
	</div>
	<script>	
		function show_termos_adesao() {
			$('#termo_adesao_modal').modal();
		}
		function show_modal() {
			
			plano = $("#dentist\\[plano\\]").val();
			valor = "R$200,00";
			if (plano == "anual") {
				valor = "R$400,00";
			}
			html = "Você está assinando um plano " + plano + " e o valor a ser debitado é de " + valor + "."
			$("#modal-message").html(html);
			$('#confirm_modal').modal();
		}
		function validate_form() {
			var valid = $('form').validate().form()
			if (valid) {
				show_modal();
			}
		}


		$(document).ready(function() {
			$(":input").inputmask();
			$('#dentist_phones').inputmask({
				mask : ' 99 9{4,5} 9999'
			})
			$("#id_email").inputmask({
				alias : "email"
			});
			$("#id_codigo_seguranca").inputmask({
				mask : '999'
			})
			
			jQuery.validator.addMethod("checkboxes", function(value, element) {
    			return $("#"+element.name).is(':checked');
			});
			
			$('form').validate({
				ignore: [],
				rules : {
					'dentist[nome]' : {
						minlength : 3,
						maxlength : 50,
						required : true
					},
					'dentist[email]' : {
						email : true,
						required : true
					},
					accept_termos : {
						"checkboxes" : true
					}
				},
				messages: {
				    "accept_termos": {
				         required: "Para realizar o cadastro você deve concordar com os termos",
				         "checkboxes": "Para realizar o cadastro você deve concordar com os termos"
				     }
				},
				highlight : function(element) {
					$(element).closest('.form-group').addClass('has-error');
				},
				unhighlight : function(element) {
					$(element).closest('.form-group').removeClass('has-error');
				},
				errorElement : 'span',
				errorClass : 'help-block',
				errorPlacement : function(error, element) {
					var name_element = '#'+element.attr('name')+'_error';
					
					parent_element = $(name_element)
					if (parent_element.length) {
						error.insertAfter($(parent_element));
					} else if (element.parent('.input-group').length) {
						error.insertAfter(element.parent());
					} else {
						error.insertAfter(element);
					}
				}
			});

			jQuery.extend(jQuery.validator.messages, {
				required : "Campo obrigatório.",
				remote : "Valor inválido.",
				email : "Email inválido.",
				url : "URL inválida.",
				date : "Data inválida.",
				dateISO : "Data inválida (ISO).",
				number : "Número inválido.",
				digits : "Somente digitos são válidos.",
				creditcard : "Número de cartão inválido.",
				equalTo : "Entre o mesmo valor novamente.",
				accept : "Entre com um valor com uma extensão válida.",
				maxlength : jQuery.validator.format("Número máximo de caracteres {0}."),
				minlength : jQuery.validator.format("Deve ter no mínimo {0} caracteres."),
				rangelength : jQuery.validator.format("Entre com um valor entre {0} e {1}."),
				range : jQuery.validator.format("Entre com um valor entre {0} e {1}."),
				max : jQuery.validator.format("Entre com um valor menor que {0}."),
				min : jQuery.validator.format("Entre com um valor  maior que {0}.")
			});

		});

	</script>
</body>

</html>

