



					<div class="col-lg-12">

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Fotos
								<button type="button" class="btn btn-xs btn-primary" onclick="javascript:insert_foto()">
									+
								</button></h3>
							</div>
							<div class="panel-body">
								<div class="col-lg-12" id="div_foto"></div>
								<div class="col-lg-12">
									<hr>
								</div>
								<div class="col-lg-12">
									<label>Fotos atuais: </label>
								</div>
								<span id="fotos_atuais"> <%
									@item_foto  = file_field_tag "images[]", type: :file, multiple: true
									if not @dentista.pictures.nil? then
									@dentista.pictures.each do |f| %>
									<div style="float: left" class="text-center">
										<%=image_tag(f.picture, style: "max-height: 200px;")%>
										<br>
										<%= link_to 'Apagar', admin_dentista_delete_foto_path(@dentista._id, f._id), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %>
									</div> <%
									end
									end
									%> </span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<hr>
					</div>
					<div class='col-lg-12-without-padding text-center'>
						<%= f.submit "Salvar", class: "btn btn-lg btn-primary"%>
					</div>

					<% end %>

				</div>

		</div>
	</div>
	


<script>
	$(document).ready(function(){
	    $(":input").inputmask();
	    $('#dentist_phones').inputmask({mask: '(99)99999-9999'})
	    $('.horario-input').inputmask({mask: '99:99'})
	    $('#dentist_address_zip_code').inputmask({mask: '99999-999'})
	    $('#dentist_promocao_perc').inputmask({mask: '99'})
	});
	
	function excluir_foto(dentista_id, foto) {
		alert(dentista_id + " - "+ foto);
	}
	
	function select_promocao(val) {
		if (val == undefined) {
			val = $( "#id_has_promo" ).val();
		} else {
			$( "#id_has_promo" ).val(val)
		}
		if (val == 0) {
			$( "#div_input_promocao" ).hide();
		} else {
			$( "#div_input_promocao" ).show();
		}
	}
	
	function select_at_emerg(val) {
		if (val == undefined) {
			val = $( "#id_has_at_emerg" ).val();
		} else {
			$( "#id_has_at_emerg" ).val(val)
		}
		if (val == 0) {
			$( "#div_at_emergencia_interno" ).hide();
		} else {
			$( "#div_at_emergencia_interno" ).show();
		}
	}
	
	function insert_foto() {
		var n = $( "#div_foto" ).children().length + $( "#fotos_atuais" ).children().length;
		if (n == 3) {
			alert("Só é possível ter 3 fotos.");
		} else {
			insert_html('<%=raw @item_foto.gsub("\n", ' ').squeeze(' ')%>', "div_foto");
		}
	}

	function insert_horario_normal() {
		id_hor_normal = "id_hor_normal_" + Math.floor((Math.random() * 10000000) + 1);;
		html_item =  "<span id='" + id_hor_normal + "'><div class=\"col-lg-12\">&nbsp;</div>" +
						"" +
							"<div class=\"col-lg-4\">" +
								"<label>Dia:</label>" +
								'<%=raw @item_horario_dia_sem.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Abre:</label>" +
								'<%=raw @item_horario_open.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Fecha:</label>" +
								'<%=raw @item_horario_close.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>"+
							"<div class=\"col-lg-2\">" +
								"<br><button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('"+id_hor_normal+"')\">-</button>" +
							"</div>" +
						"</span>";
		$("#div_atendimento").append(html_item);
		$('.horario-input').inputmask({mask: '99:99'})
	}

	function insert_horario_emerg() {
		id_hor_emerg = "id_hor_emerg_" + Math.floor((Math.random() * 10000000) + 1);;
		html_item =  "<span id='" + id_hor_emerg + "'><div class=\"col-lg-12\">&nbsp;</div>" +
						"" +
							"<div class=\"col-lg-4\">" +
								"<label>Dia:</label>" +
								'<%=raw @item_horario_emerg_dia_sem.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Abre:</label>" +
								'<%=raw @item_horario_emerg_open.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>" +
							"<div class=\"col-lg-3\">" +
								"<label>Fecha:</label>" +
								'<%=raw @item_horario_emerg_close.gsub("\n", ' ').squeeze(' ')%>' +
							"</div>"+
							"<div class=\"col-lg-2\">" +
								"<br><button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + id_hor_emerg +"')\">-</button>" +
							"</div>" +
						"</span>";
		$("#div_at_emergencia_interno").append(html_item);
		$('.horario-input').inputmask({mask: '99:99'})
	}

	
	function insert_html(html_item, idDiv) {
		item_id = "item_" + Math.floor((Math.random() * 10000000) + 1);
		html_excluir = "<button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + item_id + "')\">-</button>";
		new_item = '<div id="'+ item_id + '"><div class="col-lg-9">' + html_item  + '</div><div class="col-lg-3">' + html_excluir  + '</div></div>';
		$("#"+idDiv).append(new_item);
	}

		
		select_promocao(<%=@value_promo%>);
		select_at_emerg(<%=@value_at_emerg%>);
</script>