<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
	<!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dentistas App</title>
		<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			@charset "UTF-8";
			img, object, embed, video {
				max-width: 100%;
				margin-top: 5px;
			}
			/* IE 6 does not support max-width so default to width 100% */
			.ie6 img {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="gridContainer clearfix" style="margin-left: auto; margin-right: auto; width: 87.36%; padding-left: 1.82%; padding-right: 1.82%;">
			<div id="LayoutDiv1" style="clear: both; float: left; margin-left: 0; width: 100%; display: block;">

				<div class="Header" id="Header" style="clear: both; float: left; display: table-row;font-family: Arial, Helvetica, sans-serif;font-size: 18px; font-weight: normal; color: #fff; margin-top: 30px; background-color: #71afd2;height: 100px; width: 100%;">
					<img src="http://www.dentistasapp.com/assets/img/south-logo-flat.png">
					Pagamento Confirmado!
				</div>
			</div>

			<div class="Text" id="Text" style="clear: both; float: left; display: block; font-size: 14px; color: #CCC; margin-top: 30px; font-style: normal; color: #ADADAD; border: 1px dashed #E3E3E3; padding: 30px;">
				Olá, <%= @dentista.nome %>

				<p>
					Seu pagamento foi confirmado! YAY!
				</p>
				<p>
					Para ter acesso a sua área administrativa e preencher os dados do seu perfil, por favor, clique <a href="<%= MainYetting.URL_LOGIN_DENTISTA%>">aqui</a> e acesse com o usuário e senha abaixo:
				</p>
				<div class= "username" id= "username" style="clear: both; float: left; margin-left: 0; width: 100%; display: block; font-size: 14px; color: #EAB279; margin-top: 0px; font-weight: normal;">
					<p>
						Usuário: <%= @dentista.email %><br>
						Senha: <span style="color: #EAB279;"><%= @password %></span>
					</p>
				</div>

				<p>
					Caso você tenha dúvidas sobre o preenchimento de suas informações, por favor, entre em contato no e-mail <a href="mailto:contato@dentistasapp.com">contato@dentistasapp.com</a>. Será um prazer atendê-lo!

					<div class="Sign" id="Sign" style="clear: both;float: left; margin-left: 0; width: 100%;display: block; font-size: 14px;color: #EAB279; margin-top: 30px; font-weight: 500;">
						Obrigado novamente;
						<br>
						Equipe Dentistas App
					</div>
				</p>
			</div>
		</div>
	</body>
</html>