Pagamento Recusado

Olá, <%= @dentista.nome %>
	<% url_redo_payment = MainYetting.URL_REDO_PAYMENT.gsub ":dentista_id", @dentista.id.to_s %>

	Ops! Infelizmente, enfrentamos problemas para confirmar o seu pagamento. Por favor, acesse a página de cadastro <a href="<%= url_redo_payment %>">aqui</a> e tente novamente.

	Caso você tenha dúvidas sobre o processo de pagamento, por favor, entre em contato no e-mail <a href="mailto:contato@dentistasapp.com">contato@dentistasapp.com</a>. Será um prazer atendê-lo!

Obrigado novamente;
Equipe Dentistas App