<%if @payment.type == MainYetting.PAYMENT_BOLETO then %>
Boleto para Pagamento
<%else%>
Pagamento em Processamento
<%end%>
Olá, <%= @dentista.nome %>
<%if @payment.type == MainYetting.PAYMENT_BOLETO then %>
	Obrigado por fazer parte do Dentistas App, o primeiro serviço mobile voltado para a área odontológica do Brasil.
	Clique aqui (<%=@payment.boleto_url%> para ter acesso ao seu boleto bancário!
	Assim que o pagamento for confirmado, você receberá um e-mail com um link, usuário e uma senha para acesso a sua área administrativa.
<%else%>
	Obrigado por fazer parte do Dentistas App, o primeiro serviço mobile voltado para a área odontológica do Brasil. Neste momento, seu pagamento está sendo processado!
	Assim que ele for confirmado, você receberá um e-mail de confirmação com um link, usuário e uma senha para acesso a sua área administrativa.
<%end%>  
	Caso você tenha dúvidas sobre o processo de pagamento, por favor, entre em contato no e-mail contato@dentistasapp.com. Será um prazer atendê-lo!

	Obrigado novamente;
	Equipe Dentistas App