Pagamento Confirmado!


Olá, <%= @dentista.nome %>


	Seu pagamento foi confirmado! YAY!
	Para ter acesso a sua área administrativa e preencher os dados do seu perfil, por favor, clique aqui (<%= MainYetting.URL_LOGIN_DENTISTA%>) e acesse com o usuário e senha abaixo:
	
	Usuário: <%= @dentista.email %>
	Senha: <%= @password %>
	
	Caso você tenha dúvidas sobre o preenchimento de suas informações, por favor, entre em contato no e-mail contato@dentistasapp.com. Será um prazer atendê-lo!
	
	Obrigado novamente;
	Equipe Dentistas App