Status de pagamento

<%= @dentista.nome %>,
  		<%if @status == MainYetting.PAYMENT_STATUS_REFUSED then 
  			url_redo_payment = MainYetting.URL_REDO_PAYMENT.gsub ":dentista_id", @dentista.id.to_s
  		%>
  			Seu pagamento foi recusado! Para realizar o pagamento acesse: <%=url_redo_payment %>
  		<%else%>
  			Status do pagamento <%=@status%>
  		<%end%>