
.panel-body {
	background: #e5e5e5;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	font: 600 15px "Open Sans", Arial, sans-serif;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.indent-small {
	margin-left: 5px;
}

.text-termos-adesao {
	color: #555555;
}
.form-group.internal {
	margin-bottom: 0;
}
.dialog-panel {
	margin: 10px;
}
.datepicker-dropdown {
	z-index: 200 !important;
}
label.control-label {
	font-weight: 600;
	color: #71afd2;
}
label.control-label-default {
	font-weight: 600;
	color: #555555;
}
.padding-form {
	padding-top: 7px;
}
.error-block {
	color: #a94442;
}
.has-error  .help-block {
    color: #a94442;
}

.Title {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	color: #FFF;
	bottom: 2px;
}
.termos {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #999;
}
.bg {
	background-color: #71afd2;
	color: #FFF;
	font-size: 36px;
}

.container .panel-heading #texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #ADADAD;
}
.container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #EAB279;
	margin-top: 15px;
	margin-bottom: 5px;
	font-style: normal;
}


.modal {
	color: #919aa5;
	font-family: "MS Serif","New York",serif;
	line-height: 1;
	font-size: 14px;
}
.modal-header {
	border: none
}
.modal .h1, .modal .h2, .modal .h3, .modal .h4, .modal .h5, .modal .h6, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
	color: #465568
}