<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
<%
title = "Dentistas App"
description = "O primeiro serviço mobile voltado para a área odontológica do Brasil."
og_url = "http://www.dentistasapp.com"
if not @dentista.nil? then
	og_url = "http://www.dentistasapp.com/#{@dentista.nome.parameterize.to_s}/#{@dentista.id}.html"
	title = "#{title} | #{@dentista.nome}"
	description = "#{description} \r\n Conheça mais sobre #{@dentista.nome} e outros profissionais no Dentistas App."
end
%>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%=title%></title>
		<meta name="description" content="<%=description%>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<meta property="og:title" content="<%=title%>" />
		<meta property="og:site_name" content="Dentistas App"/>
		<meta property="og:url" content="<%=og_url%>" />
		<meta property="og:description" content="<%=description%>" />
		<meta property="og:image" content="http://www.dentistasapp.com/assets/img/logo-share.png" />
		<meta property="og:image:type" content="image/png">

		<!-- Pixeden icon font -->
		<link rel="stylesheet" href="/assets/fonts/pe-icon-7-filled/css/pe-icon-7-filled.css">
		<link rel="stylesheet" href="/assets/fonts/pe-icon-social/css/Pe-icon-social.css">
		<link rel="stylesheet" href="/assets/fonts/pe-icon-7-filled/css/helper.css">

		<link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/vendor/animate-custom.css">
		<link rel="stylesheet" href="/assets/css/main.min.css">
		<script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

	</head>

	<body class="classic">

		<div id="loading">
			<div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<header class="south-header section-south section-clouds parallax" >

			<div class="south-container showcase-inner demo">

				<div class="row">

					<div class="col-md-4 app-intro">
						<h1 class="south-main-title header-text-effect wow fadeInLeft" data-wow-duration=".5s"><div class="logo"></div> DENTISTAS APP</h1>
						<h1 class="south-sub-heading wow fadeInLeft" data-wow-duration=".7s">Um aplicativo para os dentistas e para quem precisa deles</h1>
						<br />
						<p class="wow fadeInLeft" data-wow-duration="1s">
							Primeiro serviço mobile voltado para a área odontológica do Brasil.
						</p><p class="lead wow fadeInLeft" data-wow-duration="1.1s"></p>

					</div><!-- app-intro -->

					<div class="col-md-4 app-screenshots iphone-6-screenshots">

						<div class="carousel-iphone-5 carousel slide wow comeInDown" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<div class="carousel-content">
										<img src="/assets/img/iPhone_5s/screen-1.jpg" alt="iphone screenshot"/>
									</div><!-- content -->
								</div><!-- item -->
								<div class="item">
									<div class="carousel-content">
										<img src="/assets/img/iPhone_5s/screen-2.jpg" alt="iphone screenshot"/>
									</div><!-- content -->
								</div><!-- item -->
								<div class="item">
									<div class="carousel-content">
										<img src="/assets/img/iPhone_5s/screen-3.jpg" alt="iphone screenshot"/>
									</div><!-- content -->
								</div><!-- item -->
							</div><!-- carousel-inner -->
						</div><!-- carousel-iphone -->

					</div><!-- app-screenshots -->

					<div class="col-md-4 app-links">
						<a href="https://www.dentistasapp.com/dentista/register/sign_up" data-toggle="modal" lin class="sticker-btn wow fadeIn"> <i class="pe-7f-note"></i>
						<br/>
						É dentista?
						<br/>
						<strong>Assine agora!</strong></a>
						<br/>

						<div class="wow fadeInRight" data-wow-duration="1s">
							<a href="https://play.google.com/store/apps/details?id=co.pgrdois.dentistas"> <img src="/assets/img/selo-google-play.png" width="175" height="64"> </a>
						</div>
					</div>

				</div><!-- row -->

			</div><!-- south-container -->

			<!-- Clouds -->
			<span class="clouds cloud-1"></span>
			<span class="clouds cloud-2"></span>
			<span class="clouds cloud-3"></span>
			<span class="clouds cloud-4"></span>
			<!-- Clouds -->

		</header><!-- header -->

		<!-- Modal -->
		<div class="modal fade" id="myVideo" tabindex="-1" role="dialog" aria-labelledby="myVideoLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
					</div>
					<div class="modal-body">
						<iframe width="570" height="428" src="//www.youtube.com/embed/XFkzRNyygfk" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->

		<main class="south-main">

			<div class="south-container app-features-inner">

				<div class="row app-features">

					<div class="col-md-4">
						<i class="pe-7f-users icon-holder holder-blue wow fadeIn"></i>
						<h2>Para os Dentistas</h2>
						<br/>
						<p>
						<p>
							Mais de 80 milhões de clientes em potencial com alta taxa de retorno e investimento baixo.
						</p>
					</div><!-- col -->

					<div class="col-md-4">
						<i class="pe-7f-phone icon-holder holder-yellow wow fadeIn"></i>
						<h2>Para os Pacientes</h2>
						<br/>
						<p>
						<p>
							Os dentistas mais próximos de você, os melhores descontos e as dicas mais certeiras. Tudo de graça!
						</p>
					</div><!-- col -->

					<div class="col-md-4">
						<i class="pe-7f-share icon-holder holder-red wow fadeIn"></i>
						<h2>Para Todos</h2>
						<br/>
						<p>
						<p>
							Uma ferramenta rápida, simples e segura, facilitando o encontro de dentistas e pacientes.
						</p>
					</div><!-- col -->

				</div><!-- row -->

			</div><!-- south-container -->

		</main><!-- main -->

		<section class="south-details section section-grey">

			<div class="south-container app-details-inner">

				<div class="row app-features">

					<div class="col-md-4 specs-left padding-offset">

						<div class="specs-wrapper wow fadeIn" data-wow-delay="1s">

							<h2>Busque por localização</h2>
							<p>
								Encontre o dentista mais próximo de você por meio de um mapa ou lista.
							</p>
						</div><!-- specs-wrapper -->

						<div class="specs-wrapper wow fadeIn" data-wow-delay="1.3s">

							<h2>Perfil detalhado
							<br>
							do dentista</h2>
							<p>
								Com apenas dois toques, você tem
								<br>
								acesso aos serviços e informações mais
								<br>
								relevantes de cada dentista.
							</p>
						</div><!-- specs-wrapper -->

					</div><!-- specs-left -->

					<div class="col-md-4">
						<div class="iphone-5 wow fadeInDown" data-wow-offset="250">
							<img src="/assets/img/iPhone_5s/iphone-5s-white.png" class="iphone-device" alt="iphone device"/>
							<img src="/assets/img/iPhone_5s/screen-1.jpg" class="iphone-screenshot" alt="iphone screenshot"/>
						</div>
					</div><!-- col -->

					<div class="col-md-4 specs-right">

						<div class="specs-wrapper wow fadeIn" data-wow-delay="1.6s">

							<h2>As melhores dicas</h2>
							<p>
								Receba alertas diretamente no seu smartphone
								<br>
								com dicas sugeridas pelos melhores dentistas.
							</p>
						</div><!-- specs-wrapper -->

						<div class="specs-wrapper wow fadeIn" data-wow-delay="1.9s">

							<h2>Descontos diários</h2>
							<p>
								Todos os dias, novos descontos
								<br>
								oferecidos diretamente no aplicativo.
								<br>
								Basta apresentar o app ao seu dentista.
							</p>
						</div><!-- specs-wrapper -->

					</div><!-- specs-right -->

				</div><!-- row -->

			</div><!-- south-container -->

		</section><!-- app-details -->

		<section class="south-bottom section section-south parallax" >

			<div class="south-container bottom-inner">

				<div class="row">

					<div class="col-md-4">
						<h2><i class="pe-7f-mail"></i>Fale conosco!</h2>
						<p>
							Alguma dúvida? Alguma pergunta? Entre em contato conosco: <strong><a href="mailto:contato@dentistasapp.com">contato@dentistasapp.com</a></strong>
						</p>
					</div><!-- col -->

					<div class="col-md-4 padding-offset text-center"></div><!-- col -->

					<div class="col-md-4 app-links padding-offset">
						<div class="wow fadeInRight" data-wow-duration="1s">
							<a href="https://play.google.com/store/apps/details?id=co.pgrdois.dentistas"> <img src="/assets/img/selo-google-play.png" width="175" height="64"> </a>
						</div><!-- col -->

					</div><!-- row -->

				</div><!-- south-container -->

				<!-- Clouds -->
				<span class="clouds cloud-3"></span>
				<span class="clouds cloud-2"></span>
				<!-- Clouds -->
			</div>
		</section><!-- page-bottom -->

		<footer class="south-footer">
			<div class="south-container footer-inner">
				<p>
					&copy; 2015 Dentistas App. Design by PGR2.
				</p>
			</div><!-- south-container -->
		</footer><!-- footer -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
			window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.1.min.js"><\/script>')
		</script>
		<script src="/assets/js/vendor/bootstrap.min.js"></script>
		<script src="/assets/js/vendor/jquery.fitvids.js"></script>
		<script src="/assets/js/vendor/wow.min.js"></script>
		<script src="/assets/js/main.min.js"></script>

		<!-- Modal -->
		<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Cadastro efetuado</h4>
					</div>
					<div class="modal-body">
						Obrigado por fazer parte do Dentistas App.
						<br>
						Em breve, você receberá um e-mail com os próximos passos.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn" data-dismiss="modal">
							Fechar
						</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			function GetURLParameter(sParam) {
				var sPageURL = window.location.search.substring(1);
				var sURLVariables = sPageURL.split('&');
				for (var i = 0; i < sURLVariables.length; i++) {
					var sParameterName = sURLVariables[i].split('=');
					if (sParameterName[0] == sParam) {
						return sParameterName[1];
					}

				}
			}

			var msg = GetURLParameter("msg");
			if (msg != undefined && msg != "") {
				$('#msgModal').modal();
			}
		</script>
	</body>
</html>
