<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Dentistas App</title>
		<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		
		<meta property="og:title" content="Dentistas APP" />
		<meta property="og:site_name" content="Dentistas APP"/>
		<meta property="og:url" content="http://www.dentistasapp.com" />
		<meta property="og:description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil." />
		<style>
			.landing {
				background-image: url("images/for_now.png");
				background-position: center center;
				background-size: cover;
				bottom: 0;
				color: #fff;
				height: 100%;
				left: 0;
				overflow: hidden;
				position: fixed;
				right: 0;
				text-align: center;
				text-rendering: optimizelegibility;
				top: 0;
				width: 100%;
			}

			@media (max-width: 480px) {
				.landing {
					position: relative;
					overflow: scroll;
				}
				.img_mob {
					display: block !important;
					width: 100%;
					max-height: auto;
				}
			}

		</style>
	</head>
	<body>
		<div class="landing">
			<img class="img_mob" src="images/for_now_mob.png" style="display:none"/>
		</div>
	</body>
</html>
