<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dentistas App</title>
	<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Dentistas APP" />
	<meta property="og:site_name" content="Dentistas APP"/>
	<meta property="og:url" content="http://www.dentistasapp.com" />
	<meta property="og:description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil." />

	<link href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/js/bootstrap-switch.min.js' type='text/javascript'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src='/assets/js/vendor/bootstrap.min.js' type='text/javascript'></script>
	<script src='/assets/js/vendor/jquery.inputmask.bundle.min.js' type='text/javascript'></script>
	<script src="https://pagar.me/assets/pagarme-v2.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

	<link rel="stylesheet" href="/assets/css/form.css">

	<meta charset="UTF-8">
</head>
<body><div>
		<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
		<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
		<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
		<% if flash[:alert] %>
		<%= flash[:alert]%>
		<%end%>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:'form-horizontal', role:'form'}) do |f| %>

		<div class='container'>
			<div class='panel-heading'>
				<div class='bg'>
					<h4><img src="/assets/img/logo-flat.png" width="92" height="88">Log in Dentista</h4>
				</div>
				<div class="dialog-panel" id="texto">
					<p>
						Por favor, insira abaixo seu e-mail de cadastro e senha que você recebeu por e-mail.
					</p>
				</div>
			</div>
			<div class='panel-body'>

				<div class='form-group' id='div_error'>
					&nbsp;

					<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, class: name %>
					<% end %>
				</div>

				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='dentist[email]'>Email</label>
					<div class='col-md-8'>
						<div class='col-md-8 indent-small'>
							<div class='form-group internal'>
								<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder:'Email'%>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2' for='id_adults'>Senha</label>
					<div class='col-md-8'>
						<div class='col-md-8 indent-small'>
							<div class='form-group internal'>
								<%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'Senha'%>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn-lg btn-primary' type='submit' >
							Login
						</button>

					</div>
				</div>
			</div>

		</div>

		<% end %>
	</div>
	<script>
		$(document).ready(function() {
			$(":input").inputmask();
			$("#id_email").inputmask({
				alias : "email"
			});

			$('form').validate({
				ignore : [],
				rules : {
					'dentist[email]' : {
						email : true,
						required : true
					}
				},
				messages : {
					"accept_termos" : {
						required : "Para realizar o cadastro você deve concordar com os termos",
						"checkboxes" : "Para realizar o cadastro você deve concordar com os termos"
					}
				},
				highlight : function(element) {
					$(element).closest('.form-group').addClass('has-error');
				},
				unhighlight : function(element) {
					$(element).closest('.form-group').removeClass('has-error');
				},
				errorElement : 'span',
				errorClass : 'help-block',
				errorPlacement : function(error, element) {
					var name_element = '#' + element.attr('name') + '_error';

					parent_element = $(name_element)
					if (parent_element.length) {
						error.insertAfter($(parent_element));
					} else if (element.parent('.input-group').length) {
						error.insertAfter(element.parent());
					} else {
						error.insertAfter(element);
					}
				}
			});

			jQuery.extend(jQuery.validator.messages, {
				required : "Campo obrigatório.",
				remote : "Valor inválido.",
				email : "Email inválido.",
				url : "URL inválida.",
				date : "Data inválida.",
				dateISO : "Data inválida (ISO).",
				number : "Número inválido.",
				digits : "Somente digitos são válidos.",
				creditcard : "Número de cartão inválido.",
				equalTo : "Entre o mesmo valor novamente.",
				accept : "Entre com um valor com uma extensão válida.",
				maxlength : jQuery.validator.format("Número máximo de caracteres {0}."),
				minlength : jQuery.validator.format("Deve ter no mínimo {0} caracteres."),
				rangelength : jQuery.validator.format("Entre com um valor entre {0} e {1}."),
				range : jQuery.validator.format("Entre com um valor entre {0} e {1}."),
				max : jQuery.validator.format("Entre com um valor menor que {0}."),
				min : jQuery.validator.format("Entre com um valor  maior que {0}.")
			});

		});

	</script>
</body>

</html>

