<!DOCTYPE html>
<html>
	<head>
		<title>Dentistas App</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				
<% 		
			if user_signed_in? then
%>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin">Admin</a>
				</div>
				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					
					<li class="dropdown">
					
<% 		
						if user_signed_in? then
%>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <John Smith><%=current_user.email%> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									 <%= link_to 'Logout', destroy_user_session_path(), method: :delete %>
								</li>
							</ul>
<%
						end
%>
					</li>
				</ul>
				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav">
						<li class="active">
							<a href="javascript:;" data-toggle="collapse" data-target="#dentistas-collapse"><i class="fa fa-fw fa-arrows-v"></i> Dentistas <i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="dentistas-collapse" class="collapse">
	                            <li>
	                                <%= link_to 'Listar', admin_dentista_path() %> 
	                            </li>
	                            <li>
	                                <%= link_to 'Cadastrar', admin_dentista_new_path() %>
	                            </li>
	                        </ul>
						</li>
						<li class="active">
							<a href="javascript:;" data-toggle="collapse" data-target="#dica-collapse"><i class="fa fa-fw fa-arrows-v"></i> Dicas <i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="dica-collapse" class="collapse">
	                            <li>
	                                <%= link_to 'Listar', admin_dica_path() %> 
	                            </li>
	                            <li>
	                                <%= link_to 'Cadastrar', admin_dica_new_path() %>
	                            </li>
	                        </ul>
						</li>
						
					</ul>
				</div>
				<!-- /.navbar-collapse -->
				
<%
			 	end 
%>
			</nav>


	        <div id="page-wrapper">
	
	            <div class="container-fluid">

					<%= yield %>
			
	            </div>
	            <!-- /.container-fluid -->

	        </div>
	        <!-- /#page-wrapper -->
		</div>
		<!-- /#page-wrapper -->
	</body>
</html>
<% flash.clear %>
