<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title> Dentistas APP </title>
		<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="favicon.ico">

		<!-- Pixeden icon font -->
		<link rel="stylesheet" href="/assets/fonts/pe-icon-7-filled/css/pe-icon-7-filled.css">
		<link rel="stylesheet" href="/assets/fonts/pe-icon-social/css/Pe-icon-social.css">
		<link rel="stylesheet" href="/assets/fonts/pe-icon-7-filled/css/helper.css">

		<link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/vendor/animate-custom.css">
		<link rel="stylesheet" href="/assets/css/main.min.css">
		<script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

		<link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>

	</head>

	<body class="<%= yield(:class_body) %>">
		
		<%= yield %>
		
	</body>
</html>


<% flash.clear %>
